.header {
  height: 80px;
  z-index: 15;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: "title kanji" "user user";
  background-color: #032745;
  width: 100%;
  color: #f5fcff;
  border-bottom: 4px solid #ab071d !important;
}
@media (min-width: 768px) {
  .header {
    padding-left: 20px;
    grid-template-areas: "title kanji user";
    grid-template-columns: auto 1fr auto;
  }
}
.header #db-error-tooltip {
  z-index: 1;
  width: 200px;
  overflow-wrap: break-word;
  display: block;
}
.header .dbError {
  display: flex;
  position: fixed;
  font-size: 2rem;
  top: 40vh;
  color: gold;
  right: 20px;
  z-index: 1;
  background-color: #c10000;
  border-radius: 39px;
  padding: 6px;
}
@media (min-width: 768px) {
  .header .dbError {
    background-color: rgba(0, 30, 55, 0);
    font-size: 3rem;
  }
}
.header .logo {
  color: white;
  width: 20px;
}
.header .pageTitle {
  font-family: "Gidugu";
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
  margin: 0;
  grid-area: title;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header .pageTitle {
    font-size: 54px;
  }
}
.header .infoHeader {
  font-size: 12px;
}
@media (min-width: 768px) {
  .header .infoHeader {
    text-align: start;
    margin-left: 10px;
  }
}
.header .save {
  padding-left: 5px;
  margin-right: auto;
}
.header .kanjiButton {
  grid-area: kanji;
}
@media (min-width: 768px) {
  .header .kanjiButton {
    justify-self: start;
  }
}
.header .loginControls {
  width: 100%;
  grid-area: user;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header .loginControls {
    margin: 0;
    width: auto;
  }
  .header .loginControls button {
    border: none;
    background-color: #032745;
    color: #f5fcff;
  }
  .header .loginControls button:hover {
    color: #f5b64e;
  }
  .header .loginControls .infoHeader {
    flex: 2;
  }
  .header .loginControls .username {
    flex: 1;
    background: #ab071d;
    color: white;
    border-style: none;
    width: 100%;
    padding-right: 50px;
    padding-left: 20px;
    align-self: center;
  }
  .header .loginControls .yellowBar {
    position: relative;
    left: 400px;
    background-color: #f5b64e;
    height: 3px;
    width: 100%;
    transition: 0.4s;
    transition-timing-function: ease;
  }
  .header .loginControls p {
    margin: auto;
  }
  .header .loginControls:hover .yellowBar {
    left: 0px;
  }
}
.header .loginControls .loggedOutControlsContainer {
  display: flex;
  width: 100%;
}
.header .loginControls .loggedOutControlsContainer .registerButton {
  flex: 1;
}
.header .loginControls .loggedOutControlsContainer .loginButton {
  flex: 1;
}
.header .loginControls p {
  font-size: 14px;
}
.header .loginControls .accountButtons {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 5px;
}
@media (min-width: 768px) {
  .header .loginControls .accountButtons {
    flex-direction: row;
    padding: 0;
  }
}
.header .loginControls .username {
  background: #ab071d;
  color: white;
  border-style: none;
  padding: 0 10px;
  align-self: center;
  cursor: pointer;
}
.header .loginControls .loginButton {
  background-color: #ab071d;
  color: white;
  border: none;
}
.header .loginControls .loginButton:hover {
  color: #f5b64e;
}
@media (min-width: 768px) {
  .header .loginControls .loginButton {
    background-color: #ab071d;
    padding: 0 40px;
  }
}
.header .loginControls .registerButton {
  border: none;
  background-color: #032745;
  color: #f5fcff;
}
.header .not-logged {
  color: red;
}
.header p {
  margin: 0;
}/*# sourceMappingURL=Header.css.map */