// $background-blue: #032745;
$background-blue: #1f9ae1;
$background-blue-dark: #0383cc;
$background-blue-dark2: #27455f;
$background-blue-light: #86beed;
$background-blue-header: #005ca7;
$text-decoration-blue: #025d9b;
$button-background-blue: #00366b;
$button-background-blue-light: #57b2ff;
$button-background-blue-hover: #368cd3;
$button-background-blue-muted: #529bd9;
$button-text-blue-muted: #505050;

$kanji-background-blue: #2098e5;

$lecture-button-text-brown: #653f25;

// $stripes-red: #ab071d;
$stripes-orange: #e06c1f;
$orange-hover: #cf5301;
$cloud-white: #f5fcff;
$border-yellow: #f5b64e;
$link-yellow: #ff9b31;
$decoration-yellow: #dbb01c;
$decoration-yellow-light: #f4cc49;
// $gold-accent: goldenrod;
$inner-type-color: #532f00;
$error-red: #ab071d;
$victory-green: #30a929;
$loser-red: #e31720;
$gray-1: #999999;
$gray-2: #5e7385;
$gray-3: #1e262d;

$bronze-level: #724927;
$silver-level: #a3a3a3;
$gold-level: #c4ad00;
$platinum-level: #6bb0ff;
$diamond-level: #009c81;
$master-level: #9600db;

$gold-accent: #ffeb4c;
$star-golden: #ffeb4c;
// $star-yellow: #ffeb4c;
$mute-purple: #a529a5;
$mute-purple-2: #892bcd;

// $stripe-blue-1: #73bfff;
$stripe-blue-1: #61b8ff;
// $stripe-blue-2: #57b2ff;
$stripe-blue-2: #56b0ff;

$best-try-yellow: #e1af06;
$best-try-yellow-hover: #c99d00;

$answer-button-background-yellow: #e5bc01;
$answer-button-background-yellow-border: #ab8d02;
$answer-button-background-green: #009b00;
$answer-button-background-green-hover: #008800;

$review-options-button-background-muted: #7ea9c1;
$review-options-button-background-text: #467493;
$review-options-button-background-border: #4585b1;

$test-correct: #32ed27;
$test-incorrect: #bd1107;
$test-button-incorrect: #a92930;

// V3
$v3-background-blue: #0076c7;
$v3-background-blue-2: #31a2ff;
$v3-button-background-blue: #57b2ff;
$v3-term-background-blue: #00366b;
$v3-text-decoration-blue-light: #8bd0ff;
$v3-progress-bar-background-blue: #797979;

$memo-purple: #b103d4;
$mid-way-point-yellow: #e4a600;
$learning-green: #30a929;
$not-seen-gray: #131313;
