$background-blue: #032745;
$stripes-red: #ab071d;
$cloud-white: #f5fcff;
$border-yellow: #f5b64e;
$link-yellow: #ff9b31;
$inner-type-color: #532f00;
$victory-green: #30a929;
$loser-red: #e31720;
$gray-1: #999999;
$gray-2: #5e7385;

$bronze-level: #724927;
$silver-level: #a3a3a3;
$gold-level: #c4ad00;
$platinum-level: #6bb0ff;
$diamond-level: #009c81;
$master-level: #9600db;
