@import "../../../Styles/Theme";

.lectureList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .searchBar {
        color: white;

        .searchInput {
            margin-bottom: 10px;

            .searchButton {
                background-color: #ab071d;
                color: white;
            }

            button {
            }
        }

        .resultElem {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-areas: "lectureName term extra answer";

            .name {
                grid-area: lectureName;

                border-right: goldenrod 2px solid;
                margin-right: 2px;
            }

            .term {
                grid-area: term;
            }

            .extra {
                grid-area: extra;
            }

            .answer {
                grid-area: answer;
            }
            &:nth-child(odd) {
                background-color: #20496b;
            }
        }

        .resultList {
        }
    }

    p {
        color: white;
        text-align: center;
    }

    .titleContainer {
        display: grid;
        // grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas:
            "title"
            "order"
            "filter";
        width: 85vw;
        max-width: 870px;
        justify-items: center;
        align-items: center;
        // align-items: center;

        @media (min-width: 985px) {
            margin: 8px 0;
            // grid-template-columns: 2fr 1fr 2fr;
            // grid-template-rows: 1fr 1fr;
            // grid-template-areas:
            //     ". title order"
            //     "filter filter filter";
        }

        .emptyDiv {
            width: 16px;
        }

        .lectureListTitle {
            grid-area: title;
            text-align: center;
            color: #f5fcff;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: $decoration-yellow;
            font-size: 2.2rem;
            margin: 0;
        }

        .ordering {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            grid-area: order;
            font-size: 14px;
        }

        .filtering {
            border-top: #ab071d solid 2px;
            padding-top: 3px;
            // background-color: rgb(34, 38, 94);
            color: white;
            display: flex;
            grid-area: filter;
            flex-wrap: wrap;
            font-size: 14px;

            span {
                margin-right: 20px;
            }

            .checkboxes {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    display: flex;
                }
            }
        }

        span {
            color: white;
        }

        button {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: $decoration-yellow;
        }

        .active {
            text-decoration: underline;
            text-decoration-color: $decoration-yellow;

            svg {
                font-size: 16px;
            }
        }
    }

    .lectureButtons {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;

        .spinner {
            color: white;
            margin: auto;
        }

        @media (min-width: 768px) {
            width: 100%;
            align-items: center;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        // max-width: 1024px;
    }
}
