.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  overflow: hidden;
  margin-bottom: 125px;
}
.main .logoutButton {
  font-size: 14px;
  color: white;
  background-color: #ab071d;
  /* margin-top: auto; */
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
}
.main .logoutButton:hover {
  background-color: #c1132a;
}
.main .interactionBlocker {
  display: flex;
  text-align: center;
  position: absolute;
  background-color: rgba(32, 73, 107, 0.88);
  width: 100%;
  color: white;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  line-height: 100px;
}
.main .interactionBlocker p {
  margin: 0;
}
.main .error {
  border-top: red 4px solid;
  border-bottom: red 4px solid;
}
.main .loading {
  align-items: center;
}
.main .spinner-border {
  text-align: center;
  color: white;
}
.main .confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.main .confirmation form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}
.main .confirmation form button {
  margin-top: 20px;
}
.main .confirmation form button:disabled {
  color: #adadad;
}
.main .confirmation form input:disabled {
  color: #adadad;
}
.main .confirmation h2 {
  text-align: center;
}
.main .content {
  display: flex;
}
.main .learnScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .main .learnScreen {
    width: 80%;
  }
}
.main .learnScreen .learnScreenTitle {
  text-align: center;
  color: #f5fcff;
  font-family: "Noto Serif";
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #dbb01c;
  margin: 0px;
}
@media (min-width: 768px) {
  .main .learnScreen .learnScreenTitle {
    margin-top: 17px;
  }
}
.main .learnScreen .learnScreenPanel {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 100%;
  margin: 2px 0;
}
.main .learnScreen .learnScreenPanel .info {
  display: grid;
}
.main .learnScreen .learnScreenPanel .info p {
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.main .learnScreen .learnScreenPanel button {
  min-width: 85px;
}
.main .learnScreen .learnScreenPanel p {
  align-self: center;
  justify-self: center;
  color: white;
  margin: 0;
  font-size: 2rem;
  font-family: "Gidugu";
}
.main .learnScreen .progressBar {
  display: flex;
  flex-direction: column;
  background-color: #70706f;
  width: 90vw;
  height: 22px;
}
.main .learnScreen .progressBar .progressHalf {
  display: flex;
  flex-grow: 1;
}
.main .learnScreen .progressBar .progressBarItem {
  flex-grow: 1;
  border-left: #c9e4d0 solid;
  border-right: #404040 solid;
  border-top: #c9e4d0 solid;
  border-bottom: #404040 solid;
  border-width: 1px;
}
.main .learnScreen .progressBar .activeItem {
  border: #ffc107 2px inset;
}
.main .learnScreen .progressBar .learning {
  background-color: rgb(189, 42, 69);
}
.main .learnScreen .progressBar .learned {
  background-color: #287700;
}
@media (min-width: 768px) {
  .main .learnScreen .progressBar {
    flex-direction: row;
    min-width: 80%;
    height: 16px;
    margin: 12px 0;
  }
}
.main .learnScreen .termCardSection {
  display: flex;
}
.main .learnScreen .termCardSection .termCardButtonDesktop {
  display: none;
}
@media (min-width: 768px) {
  .main .learnScreen .termCardSection .termCardButtonDesktop {
    display: block;
    border-style: solid;
    border-radius: 41px;
    background-color: #656565;
    color: aliceblue;
    width: 51px;
    transition: 0.3s;
    border-width: 3px;
    border-color: #868686;
    z-index: 1;
  }
  .main .learnScreen .termCardSection .termCardButtonDesktop:hover {
    background-color: #474747;
  }
  .main .learnScreen .termCardSection .termCardButtonDesktop:active {
    background-color: #818181;
  }
}
.main .learnScreen .termCardSection button {
  margin: 40px 0;
}
.main .learnScreen .termCardSection button:active {
  margin: 35px 0;
}
.main .learnScreen .mobileTermButtons {
  color: white;
}
.main .learnScreen .mobileTermButtons .termCardButtonMobile {
  background-color: #656565;
  width: 100px;
  color: aliceblue;
  border-style: solid;
  margin: 0px 22px;
  margin-top: 12px;
  gap: 10px;
  padding: 12px 0px;
  border-radius: 10px;
  border-color: #868686;
}
@media (min-width: 768px) {
  .main .learnScreen .mobileTermButtons .termCardButtonMobile {
    display: none;
  }
}
.main .learnScreen .mobileTermButtons .termCardButtonMobile:active {
  background-color: #5c5c5c;
  border-color: #3d3d3d;
}
.main .learnScreen .learnButtons {
  display: flex;
  width: 100%;
}
.main .learnScreen .learnButtons button {
  border: none;
  border-radius: 15px;
  margin: 0 5px;
  height: 50px;
  width: 100px;
  flex: 1;
}
.main .learnScreen .learnButtons .learningButton {
  background-color: rgb(225, 183, 167);
  color: #ab071d;
}
.main .learnScreen .learnButtons .learnedButton {
  background-color: rgb(235, 255, 218);
  color: rgb(31, 59, 9);
}
.main .learnScreen .learnButtons .learning {
  border: 3px solid rgb(189, 42, 69);
}
.main .learnScreen .learnButtons .learned {
  border: 3px solid #38a301;
}
@media (min-width: 768px) {
  .main .learnScreen .learnButtons {
    width: 50%;
  }
}
.main .learnScreen .nextRedButton {
  background-color: #ab071d;
  border-radius: 10px;
  border-style: none;
  text-align: end;
  font-weight: 900;
  color: white;
  margin-top: 12px;
  padding: 12px;
  align-self: end;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .main .learnScreen .nextRedButton {
    width: 700px;
    margin: 10px;
    padding: 20px;
  }
}
.main .beginTestDiv .beginTestButton {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 27px;
  /* border: #98da98 6px solid; */
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  background-color: #137508;
  color: #e8ebed;
  width: 75%;
  margin-bottom: 20px;
}
.main .beginTestDiv .beginTestButton:hover {
  background-color: #269719;
}
.main .beginTestDiv .info {
  padding: 15px 0;
}
.main .testScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60vh;
  max-width: 962px;
  align-items: center;
  text-align: center;
  color: #f5fcff;
}
.main .testScreen hr {
  margin: 0;
  border-top: 1px white solid !important;
  width: 45%;
  align-self: center;
}
.main .testScreen .titleAndPoints {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: "counter title points";
}
.main .testScreen .titleAndPoints .problemCounter {
  grid-area: counter;
}
.main .testScreen .titleAndPoints .title {
  font-size: 14px;
  margin: 0;
  grid-area: title;
}
.main .testScreen .titleAndPoints .pointsCounter {
  display: flex;
  right: 10px;
  background-color: #880000;
  border-radius: 100px;
  height: 40px;
  width: 40px;
}
.main .testScreen .titleAndPoints .pointsCounter p {
  font-size: 10px;
  margin: auto;
}
@media (min-width: 768px) {
  .main .testScreen .titleAndPoints .pointsCounter {
    right: 20%;
    width: 75px;
  }
  .main .testScreen .titleAndPoints .pointsCounter p {
    font-size: 15px;
    margin: auto;
  }
}
.main .testScreen .highScoreResume .testBackButton,
.main .testScreen .lastTestResume .testBackButton {
  margin-top: 0px;
}
.main .testScreen .highScoreResume .panel {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "date . backButton";
  align-items: center;
}
.main .testScreen .highScoreResume .panel p {
  margin: 0;
}
.main .testScreen .highScoreResume .backButton {
  border: none;
  border-radius: 15px;
  max-width: 140px;
}
.main .testScreen .highScoreResume hr {
  margin-left: auto;
  margin-right: auto;
}
.main .testScreen .lastTestResume .panel {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "date points backButton";
  align-items: center;
}
.main .testScreen .lastTestResume .panel p {
  margin: 0;
}
.main .testScreen .lastTestResume .backButton {
  border: none;
  border-radius: 15px;
  max-width: 140px;
}
.main .testScreen .testResume {
  display: flex;
  flex-direction: column;
}
.main .testScreen .testResume h1 {
  margin-top: 20px;
}
.main .testScreen .testResume .testAnswerComponent {
  margin: 15px 0;
  padding: 10px;
  width: 100%;
}
.main .testScreen .testResume .testAnswerComponent:nth-child(odd) {
  background-color: #164b78;
  border-radius: 20px;
}
.main .testScreen .testResume .testAnswerComponent:nth-child(even) {
  background-color: #011c33;
  border-radius: 20px;
}
.main .testScreen .testResume .testAnswerComponent p {
  margin: 0;
}
@media (min-width: 600px) {
  .main .testScreen .testResume .testAnswerComponent p {
    margin-bottom: 1rem;
  }
}
.main .testScreen .testResume .testAnswerComponent div {
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .main .testScreen .testResume .testAnswerComponent div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.main .testScreen .testResume .testAnswerComponent .staticText {
  text-align: start;
}
.main .testScreen .savedResultsButtons {
  margin-top: 15%;
  margin-bottom: 27px;
}
.main .testScreen .savedResultsButtons button {
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 10px;
  margin: 10px;
}
.main .testScreen .savedResultsButtons button:first-child {
  background-color: #164b78;
}
.main .testScreen .savedResultsButtons button:first-child:hover {
  background-color: #2d628f;
}
.main .testScreen .savedResultsButtons button:last-child {
  background-color: #997800;
}
.main .testScreen .savedResultsButtons button:last-child:hover {
  background-color: #856800;
}
.main .testScreen .savedResultsButtons .deactivated {
  text-decoration: line-through;
  background-color: gray !important;
}
.main .testScreen .stickerDiv .spinnerContainer {
  display: flex;
  justify-content: center;
  height: 150px;
}
.main .testScreen .stickerDiv .spinnerContainer div {
  margin-top: auto;
  margin-bottom: auto;
}
.main .testScreen .stickerDiv #sticker-info-tooltip {
  width: 200px;
  overflow-wrap: break-word;
  background-color: white;
  color: #022e52;
  border-radius: 23px;
}
.main .testScreen .stickerDiv .stickerTooltip {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #3a5c77;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border-style: dashed;
  border-color: #9cb0c0;
  box-sizing: content-box;
}
.main .testScreen .stickerDiv .stickerTooltip .winSticker {
  position: relative;
  top: -150px;
  opacity: 0;
  width: 100%;
  animation: winSticker 1s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.07, 0.76, 0.4, 1);
  animation-fill-mode: forwards;
}
.main .testScreen .stickerDiv .stickerTooltip .showSticker {
  opacity: 1;
  width: 100%;
  animation: showSticker 4s infinite;
  animation-fill-mode: forwards;
}
.main .testScreen .stickerDiv .stickerTooltip .showOutline {
  opacity: 1;
  width: 100%;
}
@keyframes winSticker {
  0% {
    transform: translateY(-120px) rotateZ(-20deg) translateX(-80px) scale(250%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes borderGold {
  50% {
    border-style: dashed;
    border-color: #9cb0c0;
  }
  100% {
    border-color: #f5b64e;
    border-style: inset;
  }
}
@keyframes showSticker {
  0% {
    transform: rotateZ(0);
  }
  5% {
    transform: rotateZ(-5deg);
  }
  10% {
    transform: rotateZ(5deg);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(0);
  }
  100% {
    transform: translate(0);
  }
}
.main .testScreen .stickerDiv .win {
  border-color: #f5b64e;
  border-style: inset;
}
.main .testScreen .stickerDiv .stickerContainer {
  background-color: #20496b;
  padding: 20px;
}
.main .testScreen .scoreParent {
  position: relative;
}
.main .testScreen .scoreParent .score,
.main .testScreen .scoreParent .maxScore {
  font-size: 4rem;
  font-family: "Gidugu";
}
@media (min-width: 768px) {
  .main .testScreen .scoreParent .score,
  .main .testScreen .scoreParent .maxScore {
    font-size: 7rem;
  }
}
.main .testScreen .scoreParent .newRecord {
  margin: 0;
  font-size: 12px;
  color: goldenrod;
  position: absolute;
  padding-left: 5px;
  /* right: 0; */
  bottom: 53%;
  /* left: 235px; */
  width: 100px;
  text-align: start;
  /* padding-top: 50%; */
  /* padding-bottom: 50%; */
}
@media (min-width: 768px) {
  .main .testScreen .scoreParent .newRecord {
    font-size: 16px;
    width: 110px;
  }
}
.main .testScreen .resultContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
}
.main .testScreen .resultContent .waviy {
  font-size: 37px;
}
.main .testScreen .resultContent .waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: waviy 1s infinite;
  animation-delay: calc(0.08s * var(--i));
}
@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}
.main .testScreen .resultContent hr {
  margin: 20px 0;
}
.main .testScreen .testBackButton {
  background-color: #404040;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 6px 15px;
  margin-top: 20px;
  max-width: 200px;
}
.main .testScreen h2,
.main .testScreen h3 {
  margin: 0;
}
.main .testScreen .problemCounter {
  display: flex;
  justify-self: end;
  background-color: #880000;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  font-size: 0.8rem;
}
.main .testScreen .problemCounter p {
  margin: auto;
  font-size: 10px;
}
@media (min-width: 768px) {
  .main .testScreen .problemCounter p {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .main .testScreen .problemCounter {
    width: 75px;
  }
}
.main .testScreen .upArrow {
  font-size: 1.3rem;
  color: #20496b;
}
.main .testScreen .testTitle {
  color: #f5fcff;
  font-family: "Noto Serif";
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #dbb01c;
  font-size: 2.2rem;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.main .testScreen .testTitle p {
  margin: 0;
}
@media (min-width: 768px) {
  .main .testScreen .testTitle {
    width: 70vw;
  }
}
.main .testScreen .dragAndDrop p {
  font-size: 0.8rem;
  margin: 0;
}
.main .testScreen .testFeedbackContainer {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .main .testScreen .testFeedbackContainer {
    width: 60%;
  }
}
.main .testScreen .dropContainer .dragHereText {
  position: absolute;
  color: #31628a;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 0.9rem;
  padding-top: 6px;
  animation-name: shine;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes shine {
  10%, 60%, 100% {
    color: #31628a;
  }
  80% {
    color: #79a6ca;
  }
}
.main .testScreen .answerDropContainers {
  margin: 0 5px;
  margin-bottom: 7px;
}
.main .testScreen .answerDropContainers .optionsParent {
  border-bottom: 1px solid white;
}
.main .testScreen .optionsDropContainers {
  background-color: #20496b;
  margin: 7px 0;
  border-radius: 15px;
  padding: 5px 0;
}
.main .testScreen .optionsDropContainers .optionsParent {
  justify-content: center;
}
.main .testScreen .optionsParent {
  padding: 4px 0;
  box-sizing: content-box;
  min-height: 30px;
  min-width: 100%;
  display: flex;
}
.main .testScreen .feedbackSection {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: ". feedback nextButton";
  width: 100%;
  margin: 30px 0;
  visibility: hidden;
}
.main .testScreen .feedbackSection.show {
  visibility: visible;
}
.main .testScreen .feedbackSection .feedbackText {
  grid-area: feedback;
  text-align: center;
  font-size: 2rem;
  font-family: "Gidugu";
}
.main .testScreen .feedbackSection .feedbackText.correct {
  color: #30a929;
}
.main .testScreen .feedbackSection .feedbackText.incorrect {
  color: #e31720;
}
.main .testScreen .feedbackSection .feedbackButton {
  grid-area: nextButton;
  border-radius: 34px;
  background-color: #164b78;
  color: white;
  border: none;
}
.main .testScreen .testContent {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.main .testScreen .testContent .dragAnswer {
  min-height: 60px;
}
.main .testScreen .testContent .dragAnswer svg {
  color: red;
  font-size: 48px;
}
@media (min-width: 768px) {
  .main .testScreen .testContent .dragAnswer {
    min-height: 90px;
  }
}
.main .testScreen .testContent .dragAnswerButton {
  position: relative;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  background-color: #6c7a93;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px 0;
  width: 70%;
}
.main .testScreen .testContent .dragAnswerButton:disabled {
  background-color: #444444;
  text-decoration: line-through;
  width: 40%;
}
.main .testScreen .testContent p {
  margin: 0;
  font-size: 0.85rem;
  color: #b5b5b5;
}
@media (min-width: 768px) {
  .main .testScreen .testContent {
    width: 769px;
  }
}
.main .testScreen .testContent .testPhrase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: #7d0707;
  margin: 3px auto;
}
.main .testScreen .testContent .testPhrase p {
  font-size: clamp(1rem, 1rem + 0.8vw, 2rem);
  text-align: center;
  margin: 0;
  color: white;
}
@media (min-width: 768px) {
  .main .testScreen .testContent .testPhrase {
    background-color: #4a7da8;
    border-radius: 23px;
  }
}
.main .testScreen .testContent .testDivider {
  background-color: #f5fcff;
  height: 1px;
  width: 95%;
  margin: 15px auto;
}
.main .testScreen .testContent .mondaiOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .testScreen .testContent .mondaiOptions .testOptionButton {
  color: #f5fcff;
  background-color: #001e37;
  border: none;
  margin: 3px 0;
  padding: 12px 0;
}
.main .testScreen .testContent .mondaiOptions .testOptionButton:hover {
  background-color: #20496b;
}
.main .testScreen .testContent .mondaiOptions .testOptionButton:disabled {
  color: #858585;
  background-color: #4f4f4f;
}
.main .testScreen .testContent .mondaiOptions .testOptionButton.correct {
  color: #f5fcff;
  background-color: #30a929;
}
.main .testScreen .testContent .mondaiOptions .testOptionButton.incorrect {
  color: #f5fcff;
  background-color: #e31720;
}
.main .testScreen .testContent .answersBox {
  height: 200px;
  background-color: #20496b;
}
.main .testScreen .testContent .draggable {
  height: 100px;
}
.main .userPanel {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .main .userPanel {
    width: 100%;
  }
}
.main .userPanel h3 {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
.main .userPanel .userPanelContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 150px;
  gap: 30px;
}
@media (min-width: 768px) {
  .main .userPanel .userPanelContent {
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
  }
}
.main .userPanel .userPanelContent p {
  text-align: center;
}
.main .userPanel .userPanelContent .stickersDiv {
  width: 100%;
}
.main .userPanel .userPanelContent .stickersDiv .allStickers {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 150px;
  background-color: #164b78;
  padding: 15px 5px;
  box-shadow: inset 0 8px 6px -6px #040329;
  overflow-x: scroll;
}
@media (min-width: 768px) {
  .main .userPanel .userPanelContent .stickersDiv .allStickers {
    height: auto;
    flex-direction: row;
    width: 325px;
    border-radius: 22px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.main .userPanel .userPanelContent .stickersDiv .allStickers .sticker {
  height: 100px;
  width: 100px;
}
.main .userPanel .userPanelContent .stickersDiv .allStickers .sticker img {
  width: 100%;
}
.main .userPanel .userPanelContent .stickersDiv .allStickers .selected {
  filter: sepia(1);
}
.main .userPanel .userPanelContent .infoDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .userPanel .userPanelContent .infoDiv .infoText {
  min-height: 225px;
  padding: 5px;
}
.main .userPanel .userPanelContent .infoDiv .title {
  font-weight: 600;
  font-size: 18px;
}

.panel {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
}
.panel p {
  font-size: 14px;
}
@media (min-width: 768px) {
  .panel p {
    font-size: 24px;
  }
}

.textButton {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  color: #dbb01c;
  border: none;
}
.textButton:hover {
  color: #f4cc49;
}
.textButton:active {
  top: 1px;
}

.textButton small {
  font-size: 12px;
}

.smallText {
  font-size: 10px;
  color: #ab071d;
}

.optionsButton {
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f5fcff;
  color: #532f00;
  font-family: "Noto_Serif";
  border: 3px solid #f5b64e;
  border-radius: 100px;
  cursor: pointer;
  margin: 5px 20px 5px;
  align-self: center;
  justify-self: center;
}
.optionsButton:hover {
  border-color: #ab071d;
}
.optionsButton:disabled {
  background-color: gray;
  color: #606060;
  border-color: #606060;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .optionsButton {
    font-size: 1.1rem;
    padding: 10px 26px;
  }
}

.backButton {
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f5fcff;
  color: #532f00;
  font-family: "Noto_Serif";
  border: 3px solid #f5b64e;
  border-radius: 100px;
  cursor: pointer;
  margin: 5px 20px 5px;
  align-self: center;
  justify-self: center;
}
.backButton:hover {
  border-color: #ab071d;
}
@media (min-width: 768px) {
  .backButton {
    font-size: 1.1rem;
    padding: 10px 26px;
  }
}

.squareIconButton {
  width: 25px;
  height: 25px;
}
.squareIconButton button {
  position: relative;
  background-color: #38364b;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px 1px 0px rgba(1, 1, 26, 0.53);
}
.squareIconButton button svg {
  color: white;
}
@media (min-width: 768px) {
  .squareIconButton button {
    box-shadow: 0px 3px 1px 0px rgba(1, 1, 26, 0.53);
  }
}
.squareIconButton button:active {
  top: 1px;
}
.squareIconButton button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}
.squareIconButton button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0px 5px white;
}
.squareIconButton button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.disappear-element {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.disappear-element .backCard {
  width: 100%;
  background-color: #4f4d63;
  padding: 10px;
  box-shadow: 1px 5px 17px 7px rgba(1, 1, 26, 0.71);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disappear-element .backCard .logo {
  width: 150px;
  position: relative;
  filter: invert(100%);
}
.disappear-element .backCard .backCardDivider {
  width: 100%;
  height: 30px;
  border-bottom: 5px solid #040329;
}

.gold {
  border: 5px solid #ffbc00;
}
.gold .backCard .logo {
  filter: invert(62%) sepia(97%) saturate(583%) hue-rotate(360deg) brightness(104%) contrast(103%);
}

.muted {
  border: 5px solid #7a059f;
}
.muted .backCard {
  background-color: #333333 !important;
}
.muted .backCard .logo {
  filter: invert(12%) sepia(84%) saturate(3585%) hue-rotate(279deg) brightness(105%) contrast(116%);
}

.disappear-left {
  animation-name: disappear-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  z-index: 2;
}

@keyframes disappear-left {
  5% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    transform: translateX(-400px) translateY(-100px) scale(1.05) rotateZ(-5deg) rotateY(50deg) rotateX(-40deg);
  }
  100% {
    transform: translateX(-400px) translateY(-100px) scale(1.02);
    opacity: 0;
  }
}
.termCardDiv {
  max-width: 935px;
  width: 80vw;
  height: 450px;
  position: relative;
}
@media (min-width: 768px) {
  .termCardDiv {
    width: 70vw;
    height: 400px;
  }
}
.termCardDiv .termCard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8b4500;
  background-color: #fdd2a6;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 5px 17px 7px rgba(1, 1, 26, 0.71);
}
.termCardDiv .termCard .error-message {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
.termCardDiv .termCard div {
  display: grid;
}
.termCardDiv .termCard .term,
.termCardDiv .termCard .answerSection {
  font-size: clamp(1rem, 1rem + 2vw, 1rem);
  flex: 1;
  text-align: center;
}
.termCardDiv .termCard .term span,
.termCardDiv .termCard .answerSection span {
  align-self: center;
}
.termCardDiv .termCard .term .clickReveal,
.termCardDiv .termCard .answerSection .clickReveal {
  cursor: pointer;
}
@media (min-width: 768px) {
  .termCardDiv .termCard .term,
  .termCardDiv .termCard .answerSection {
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
    width: 80%;
    max-width: 500px;
  }
}
.termCardDiv .termCard .kanjiSection {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .termCardDiv .termCard .kanjiSection {
    flex-direction: row;
    gap: 20px;
  }
}
.termCardDiv .termCard .kanjiSection .showKanjiButton {
  border: none;
  /* width: 100%; */
  position: absolute;
  width: 160px;
  height: 160px;
  color: #f3f3f3;
  background-color: #3e3c50;
}
.termCardDiv .termCard .kanjiSection .canvasSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.termCardDiv .termCard .kanjiSection .canvasSection .canvas {
  position: absolute;
  flex: 1;
  cursor: crosshair;
}
.termCardDiv .termCard .kanjiSection .canvasSection .canvas div {
  border-radius: 0 !important;
}
.termCardDiv .termCard .kanjiSection .canvasControls {
  display: flex;
  gap: 25px;
}
@media (min-width: 768px) {
  .termCardDiv .termCard .kanjiSection .canvasControls {
    flex-direction: column;
  }
}
.termCardDiv .termCard .write {
  flex: 0;
  padding: 10px;
}
.termCardDiv .termCard .kanjiBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 0.0625rem solid rgb(156, 156, 156);
}
.termCardDiv .termCard .kanjiBackground svg {
  height: 100%;
  width: 100%;
}
.termCardDiv .termCard .character {
  position: absolute;
  font-size: 8rem;
  width: 160px;
  height: 160px;
}
.termCardDiv .termCard .character svg {
  height: 100%;
  width: 100%;
}
.termCardDiv .termCard .character svg g {
  stroke: #ffffff !important;
  font-size: 6px;
}
.termCardDiv .termCard .character svg g:first-child {
  stroke-width: 2 !important;
}
.termCardDiv .termCard .character svg > g:nth-child(2) {
  fill: rgb(234, 189, 69) !important;
  stroke-width: 0 !important;
}
.termCardDiv .termCard .answerSection {
  flex: 1;
}
.termCardDiv .termCard .divider {
  height: 1px;
  background-color: #b33e09;
  padding: 0 10px;
  margin: 0 20px;
}
.termCardDiv .disappear-right {
  animation-name: disappear-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  z-index: 2;
}
@keyframes disappear-right {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    transform: translateX(400px) translateY(-100px) scale(1.05) rotateZ(5deg) rotateY(50deg) rotateX(40deg);
    background-color: rgb(177, 128, 78);
  }
  100% {
    transform: translateX(400px) translateY(-100px) scale(1.02);
    opacity: 0;
  }
}/*# sourceMappingURL=Main.css.map */