@import "../../../../Styles/Theme";

.lectureButton {
    display: grid;
    flex-direction: column;

    // grid-template-areas:
    //     "icons terms  memo"
    //     "title title  title"
    //     "session amountJapanese lastReviewJapanese"
    //     ". amountSpanish lastReviewSpanish"
    //     "text bar jap-bar";

    // display: grid;
    // grid-template-columns: 33% 33% 33%;
    // grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "title title"
        "japaneseData spanishData";
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    // grid-template-areas:
    //     "info"
    //     "name"
    //     "extras";
    background-color: white;
    color: $background-blue-dark2;
    font-family: "Noto_Serif";
    width: 100%;
    // border-top: 3px solid #dbb01c;
    // border-bottom: 3px solid #dbb01c;
    margin: 5px 0;
    padding: 10px 5px;
    // justify-content: space-around;
    align-items: center;
    cursor: pointer;

    .japaneseData {
        grid-area: japaneseData;

        padding: 0 15px 0 5px;
    }
    .spanishData {
        grid-area: spanishData;

        padding: 0 15px 0 5px;
    }

    .progressSection {
        .progressBarContainer {
            display: flex;
            gap: 3px;
            align-items: center;

            .progressBarLabel {
                width: 10%;
                text-align: center;
                font-size: 12px;
                color: $background-blue-dark2;
            }
            .progressBar {
                width: 100%;
                height: 20px;
                // height: 50px;
                background-color: $v3-progress-bar-background-blue; // empty part
                border-radius: 10px;
                overflow: hidden;
                margin: 3px 0;
                position: relative;

                .progressBarText {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    z-index: 100;
                    font-size: 12px;
                    color: white;

                    &.zeroed {
                        color: #b6b6b6;
                    }
                }

                .progressBarFill {
                    height: 100%;
                    transition: width 0.3s ease; // optional smooth animation
                    p {
                        text-align: center;
                    }

                    &.memorized {
                        background-color: $memo-purple;
                    }
                    &.midPoint {
                        background-color: $mid-way-point-yellow;
                    }
                    &.learning {
                        background-color: $learning-green;
                    }
                    &.noView {
                        background-color: $not-seen-gray;
                    }
                }
            }
        }
    }

    .lectureProgress {
        grid-area: lectureProgress;
        display: grid;
        grid-template-areas: "japaneseTitle spanishTitle";
        height: 100%;
        .japaneseTitle {
            grid-area: japaneseTitle;
            // text-align: ;
            padding-right: 10px;
            margin-bottom: 5px;
        }
        .spanishTitle {
            grid-area: spanishTitle;
            // text-align: end;
            padding-right: 10px;
            margin-bottom: 5px;
        }
    }

    .title {
        display: grid;
        // grid-area: 1 / 1 / 2 / 3;
        grid-area: title;
        grid-template-areas:
            "terms terms"
            "lectureButtonTitle lectureButtonTitle";
        text-align: center;
        margin-bottom: 15px;

        .terms {
            grid-area: terms;
        }

        .icons {
            grid-area: icons;

            svg {
                font-size: 1.4rem;
            }
        }

        .lectureButtonTitle {
            grid-area: lectureButtonTitle;
        }
    }

    .japaneseSessions,
    .spanishSessions {
        display: grid;
        grid-template-areas:
            "amount"
            "lastReview";
        justify-content: space-between;
        font-size: 12px;

        // .japaneseTitle {
        //     grid-area: japaneseTitle;
        //     text-align: end;
        //     padding-right: 10px;
        // }

        // .spanishTitle {
        //     grid-area: spanishTitle;
        //     text-align: end;
        //     padding-right: 10px;
        // }

        svg {
            font-size: 1.2em;
        }

        .amount {
            grid-area: amount;
        }
        .lastReview {
            grid-area: lastReview;
        }
    }
    .japaneseSessions {
        grid-area: japaneseSessions;
    }

    .spanishSessions {
        grid-area: spanishSessions;
    }

    .text {
        grid-area: text;
        text-align: center;
    }

    // .progressBarContainer {
    //     display: flex;
    //     align-items: center;

    //     span {
    //         line-height: 0px;
    //     }

    //     .arrowTypeKana {
    //         font-size: 12px;
    //     }
    //     .progressBar {
    //         display: flex;
    //         background-color: $gray-2;
    //         margin-left: 5px;
    //         min-height: 10px;
    //         max-height: 12px;
    //         min-width: 100px;
    //     }
    // }

    .bar {
        grid-area: bar;
    }

    .jap-bar {
        grid-area: jap-bar;
    }

    // .set-buttons-helper {
    //     display: flex;
    //     width: 80%;
    //     justify-content: space-between;
    //     grid-area: info;
    //     font-size: clamp(0.4rem, 0.5rem + 2vw, 2rem);
    // }

    .lectureButtonTitle {
        font-size: clamp(0.4rem, 1rem + 4vw, 2.5rem);
        grid-area: title;
        // margin-top: 4px;
        text-align: center;

        .bookmarkIcon {
            font-size: 1.2rem;
            margin-bottom: 5px;
            color: $stripes-orange;
        }

        @media (min-width: 768px) {
            font-size: clamp(0.4rem, 1rem + 0.3vw, 2.5rem);
        }
    }

    .terms {
        display: flex;
        flex-direction: column;
        grid-area: terms;
        text-align: center;

        .spinner-border {
            font-size: 10px;
        }
    }

    .memo {
        grid-area: memo;
        text-align: end;
    }
    .icons {
        grid-area: icons;
        // margin: auto;
        text-align: center;
    }

    // .session {
    //     grid-area: session;
    //     font-size: 12px;
    // }

    .lastReviewJapanese {
        grid-area: lastReviewJapanese;
        font-size: 12px;
    }

    .lastReviewSpanish {
        grid-area: lastReviewSpanish;
        font-size: 12px;
    }

    .amountJapanese {
        grid-area: amountJapanese;
        font-size: 12px;
    }

    .amountSpanish {
        grid-area: amountSpanish;
        font-size: 12px;
    }

    .date {
        grid-area: date;
        text-align: end;
        font-size: clamp(7px, 7px + 1vw, 14px);
    }

    .mobile {
        display: none;
    }

    &:hover {
        background-color: #cfe9fd;
    }

    // &:active {
    //     background-color: rgb(227 235 255);
    // }

    .testIcon {
        font-size: 24px;
    }

    /* Desktop */
    @media (min-width: 1056px) {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 30% 40% 30%;
        grid-template-areas: "japaneseData title spanishData";
        // grid-template-areas: "info name extras";
        // grid-template-areas:
        //     "bar terms session ."
        //     "jap-bar title amountJapanese amountSpanish"
        //     "memo icons lastReviewJapanese lastReviewSpanish";

        width: 85vw;
        max-width: 1000px;
        // border: 3px solid $border-yellow;
        border-radius: 17px;
        padding: 5px 24px;

        .icons {
            svg {
                font-size: 1.3rem;
            }
        }

        // .lectureProgress {
        //     padding-left: 10px;
        //     .japaneseTitle {
        //         text-align: start;
        //     }
        //     .spanishTitle {
        //         text-align: start;
        //     }
        // }

        .japaneseSessions,
        .spanishSessions {
            // display: grid;
            height: 100%;
            grid-template-areas: "amount lastReview";
            // grid-template-areas: "japaneseSessions spanishSessions";

            // .japaneseTitle {
            //     grid-area: japaneseTitle;
            //     text-align: start;
            // }

            // .spanishTitle {
            //     grid-area: spanishTitle;
            //     text-align: start;
            // }

            .japaneseSessions,
            .spanishSessions {
                align-content: center;
            }
        }

        .terms {
            flex-direction: row;
            justify-content: center;
            gap: 3px;
        }

        .set-buttons-helper {
            font-size: clamp(0rem, 0.5rem + 0.5vw, 1rem);
            justify-content: space-evenly;
            flex-direction: column;
            padding-left: 30px;
        }

        .text {
            text-align: start;
        }

        .lectureButtonTitle {
            font-size: clamp(0.4rem, 1rem + 1vw, 2.5rem);
            font-weight: 500;
        }

        .icons {
            // text-align: end;
        }

        .mobile {
            display: block;
        }

        // .session {
        //     grid-area: session;
        // }

        .lastReview {
            grid-area: lastReview;
            font-size: 14px;
            padding-left: 5px;
        }

        .amount {
            grid-area: amount;
            font-size: 14px;
            padding-left: 5px;
        }

        .date {
        }

        flex-direction: row;

        // &:nth-of-type(odd) {
        //     margin-left: 30px;
        // }
        // &:nth-of-type(even) {
        //     margin-right: 30px;
        // }
    }
}
