.lectureButton {
  display: grid;
  flex-direction: column;
  grid-template-areas: "progress" "title" "session";
  background-color: white;
  color: #27455f;
  font-family: "Noto_Serif";
  width: 100%;
  margin: 5px 0;
  padding: 10px 5px;
  align-items: center;
  cursor: pointer;
}
.lectureButton .title {
  display: grid;
  grid-template-areas: "terms icons" "lectureButtonTitle lectureButtonTitle";
  text-align: center;
}
.lectureButton .title .terms {
  grid-area: terms;
}
.lectureButton .title .icons {
  grid-area: icons;
}
.lectureButton .title .icons svg {
  font-size: 1.4rem;
}
.lectureButton .title .lectureButtonTitle {
  grid-area: lectureButtonTitle;
}
.lectureButton .session {
  display: grid;
  grid-template-areas: "japaneseTitle  japaneseSection spanishTitle spanishSection";
}
.lectureButton .session .japaneseTitle {
  grid-area: japaneseTitle;
  text-align: end;
  padding-right: 10px;
}
.lectureButton .session .spanishTitle {
  grid-area: spanishTitle;
  text-align: end;
  padding-right: 10px;
}
.lectureButton .session .japaneseSection {
  grid-area: japaneseSection;
}
.lectureButton .session .spanishSection {
  grid-area: spanishSection;
}
.lectureButton .text {
  grid-area: text;
  text-align: center;
}
.lectureButton .progressBarContainer {
  display: flex;
  align-items: center;
}
.lectureButton .progressBarContainer span {
  line-height: 0px;
}
.lectureButton .progressBarContainer .arrowTypeKana {
  font-size: 12px;
}
.lectureButton .progressBarContainer .progressBar {
  display: flex;
  background-color: #5e7385;
  margin-left: 5px;
  min-height: 10px;
  max-height: 12px;
  min-width: 100px;
}
.lectureButton .bar {
  grid-area: bar;
}
.lectureButton .jap-bar {
  grid-area: jap-bar;
}
.lectureButton .lectureButtonTitle {
  font-size: clamp(0.4rem, 1rem + 4vw, 2.5rem);
  grid-area: title;
  text-align: center;
}
.lectureButton .lectureButtonTitle svg {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #e06c1f;
}
@media (min-width: 768px) {
  .lectureButton .lectureButtonTitle {
    font-size: clamp(0.4rem, 1rem + 0.3vw, 2.5rem);
  }
}
.lectureButton .terms {
  display: flex;
  flex-direction: column;
  grid-area: terms;
  text-align: center;
}
.lectureButton .terms .spinner-border {
  font-size: 10px;
}
.lectureButton .memo {
  grid-area: memo;
  text-align: end;
}
.lectureButton .icons {
  grid-area: icons;
  text-align: center;
}
.lectureButton .lastReviewJapanese {
  grid-area: lastReviewJapanese;
  font-size: 12px;
}
.lectureButton .lastReviewSpanish {
  grid-area: lastReviewSpanish;
  font-size: 12px;
}
.lectureButton .amountJapanese {
  grid-area: amountJapanese;
  font-size: 12px;
}
.lectureButton .amountSpanish {
  grid-area: amountSpanish;
  font-size: 12px;
}
.lectureButton .date {
  grid-area: date;
  text-align: end;
  font-size: clamp(7px, 7px + 1vw, 14px);
}
.lectureButton .mobile {
  display: none;
}
.lectureButton:hover {
  background-color: #cfe9fd;
}
.lectureButton .testIcon {
  font-size: 24px;
}
.lectureButton {
  /* Desktop */
}
@media (min-width: 768px) {
  .lectureButton {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: "progress title session";
    width: 85vw;
    max-width: 870px;
    border-radius: 17px;
    padding: 5px 0;
  }
  .lectureButton .icons svg {
    font-size: 1.3rem;
  }
  .lectureButton .session {
    height: 100%;
    grid-template-rows: 33% auto;
    grid-template-areas: "japaneseTitle spanishTitle" "japaneseSection spanishSection";
  }
  .lectureButton .session .japaneseTitle {
    grid-area: japaneseTitle;
    text-align: start;
  }
  .lectureButton .session .spanishTitle {
    grid-area: spanishTitle;
    text-align: start;
  }
  .lectureButton .session .japaneseSection,
  .lectureButton .session .spanishSection {
    align-content: center;
  }
  .lectureButton .terms {
    flex-direction: row;
    justify-content: center;
    gap: 3px;
  }
  .lectureButton .set-buttons-helper {
    font-size: clamp(0rem, 0.5rem + 0.5vw, 1rem);
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 30px;
  }
  .lectureButton .text {
    text-align: start;
  }
  .lectureButton .lectureButtonTitle {
    font-size: clamp(0.4rem, 1rem + 1vw, 2.5rem);
    font-weight: 500;
  }
  .lectureButton .mobile {
    display: block;
  }
  .lectureButton .lastReview {
    grid-area: lastReview;
    font-size: 14px;
    padding-left: 5px;
  }
  .lectureButton .amount {
    grid-area: amount;
    font-size: 14px;
    padding-left: 5px;
  }
  .lectureButton {
    flex-direction: row;
  }
}/*# sourceMappingURL=LectureButton.css.map */