/* .correct {
    color: green;
} */

.incorrect {
    text-decoration: underline;
    text-decoration-color: red;
} 

.circle{
    color: #01c901;
    font-size: 22px;
}

.x {
    color: red;
    font-size: 25px;
}