@font-face {
    font-family: "Gidugu";
    src: url("../assets/fonts/Gidugu/Gidugu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto_Serif";
    src: url("../assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf")
        format("truetype");
}

$primary-color: #e64b75;
$secondary-color: #81459b;
$very-dark-purple: #4c1c61;
$light-purple: #f3dcfd;
$darker-purple: #e8d8ff;
$blueish-green: #1e937c;
$dark-green: #00331f;
$christmas-red: #ad0906;
$christmas-green: #06493e;
$border-color: #c7e9f9;

// $background-blue: #024a62;
// $stripes-red: #97171a;
// $cloud-white: #f5fcff;
// $border-yellow: #f5b64e;
// $link-yellow: #ff9b31;
// $inner-type-color: #532f00;

$background-blue: #032745;
$stripes-red: #ab071d;
$cloud-white: #f5fcff;
$border-yellow: #f5b64e;
$link-yellow: #ff9b31;
$inner-type-color: #532f00;

hr {
    border-top: 4px solid $stripes-red !important;
    // border-width: 5px;
    opacity: 1 !important;
}

h1 {
    color: $cloud-white !important;
}

a {
    color: $link-yellow !important;
}

.modal-body {
    padding-bottom: 30px !important;
}

.modal-header {
    background-color: $stripes-red;
    color: white;
    border-bottom: 4px solid #032745;

    button {
        filter: invert(1);
        opacity: 0.8;

        &:hover {
            opacity: 1 !important;
        }
    }
}
.form-check {
    .form-check-label {
        font-weight: 500;
    }
    p {
        padding-left: 10px;
    }
}

.App {
    // margin: 20px;
    background-color: $background-blue;
    font-family: メイリオ, Meiryo !important;
}

.divider {
    margin-top: 50px;
    height: 30px;
    background-color: $stripes-red;

    .logo {
        width: 84px;
        position: relative;
        margin-left: calc(50% - 42px);
        top: -31px;
        filter: invert(100%);
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $cloud-white;
    // padding-top: 20px;

    #db-error-tooltip {
        z-index: 1;
        width: 200px;
        overflow-wrap: break-word;
        display: block;
    }

    .dbError {
        display: flex;
        position: fixed;
        font-size: 2rem;
        top: 40vh;
        color: gold;
        right: 20px;
        z-index: 1;
        background-color: #c10000;
        border-radius: 39px;
        /* width: 73px; */
        padding: 6px;

        @media (min-width: 768px) {
            background-color: #001e3700;
            font-size: 3rem;
        }
    }

    .logo {
        color: white;

        width: 20px;
    }

    .pageTitle {
        font-family: "Gidugu";
        text-transform: uppercase;
        font-size: clamp(3rem, 1rem + 6vw, 5rem);
        text-align: center;
        cursor: pointer;
    }

    .infoHeader {
        // margin: 0;
        // margin-bottom: 20px;

        @media (min-width: 768px) {
            text-align: start;
            margin-left: 10px;
            // margin-right: auto;
            // margin-left: 20px;
        }
    }

    .save {
        padding-left: 5px;
        margin-right: auto;
    }

    .loginControls {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        padding: 0 10px;
        text-align: center;
        overflow: hidden;

        .username {
            background: #ab071d;
            color: white;
            border-style: none;
            width: 100%;
            padding-right: 50px;
            padding-left: 50px;
            align-self: center;
        }

        .loginButton {
            background-color: $stripes-red;
            padding: 0 40px;
            color: white;
            border: none;

            &:hover {
                color: $border-yellow;
            }
            @media (min-width: 768px) {
                background-color: $stripes-red;
                padding: 0 40px;
            }
        }

        .registerButton {
            border: none;
            background-color: $background-blue;
            color: $cloud-white;
        }

        @media (min-width: 768px) {
            padding: 0;
            flex-direction: row;
            flex-grow: 1;

            button {
                border: none;
                background-color: $background-blue;
                color: $cloud-white;
                margin-right: 15px;

                &:hover {
                    color: $border-yellow;
                }
            }

            .infoHeader {
                flex: 2;
            }

            .username {
                flex: 1;
                background: #ab071d;
                color: white;
                border-style: none;
                width: 100%;
                padding-right: 50px;
                padding-left: 20px;
                align-self: center;
            }

            .yellowBar {
                position: relative;
                left: 400px;
                background-color: $border-yellow;
                height: 3px;
                width: 100%;
                transition: 0.4s;
                transition-timing-function: ease;
            }

            &:hover {
                .yellowBar {
                    left: 0px;
                }
            }
        }
    }

    .not-logged {
        color: red;
    }

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        padding-left: 20px;
    }
}

.main {
    overflow: hidden;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // margin-top: 35px;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        form {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 20px;
            }

            .submitButton {
                border: 2px solid white;
                border-radius: 15px;
                transition: 0.15s;

                &:hover {
                    background-color: $stripes-red;
                    border-color: $stripes-red;
                    color: white;
                }
            }

            .passwordInfo {
                display: flex;
                flex-direction: column;
            }

            .passwordInfoDesktop {
                display: none;
                color: #ffffff8f;
                font-size: 0.8rem;

                @media (min-width: 768px) {
                    display: block;
                }
            }

            .passwordInfoMobile {
                color: #ffffff8f;
                font-size: 0.8rem;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }

        @media (min-width: 768px) {
            max-width: 25%;
        }
    }

    .lectureList {
        width: 100%;
        .lectureListTitle {
            text-align: center;
            color: #f5fcff;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            font-size: 3rem;
            margin-bottom: 32px;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        color: white;

        margin-top: auto;
        margin-bottom: auto;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px 0;

            button {
                margin-top: 20px;
                &:disabled {
                    color: #adadad;
                }
            }

            input {
                &:disabled {
                    color: #adadad;
                }
            }
        }

        h2 {
            text-align: center;
        }
    }

    .registerHelp {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        .helpMessage {
            color: white;
            margin: 0;
            text-align: center;
        }

        .needConfirmationButton {
            border: none;
            color: white;
            &:hover {
                color: gold;
                background-color: $background-blue;
            }

            background-color: #03213b;
            text-decoration: underline;
        }
    }

    .timer {
    }

    .content {
        display: flex;
    }

    .label {
    }

    .checkbox {
    }

    .lectureButton {
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas:
            "info"
            "name"
            ".";

        // flex-direction: column;
        background-color: $cloud-white;
        color: $inner-type-color;
        font-family: "Noto_Serif";

        width: 100%;
        border-top: 3px solid #dbb01c;
        border-bottom: 3px solid #dbb01c;

        // width: 76vw;
        // border: 3px solid $border-yellow;
        // border-radius: 100px;

        margin: 15px 0;
        padding: 10px 0;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .set-buttons-helper {
            display: flex;
            justify-content: space-between;
            grid-area: info;
            font-size: clamp(0.4rem, 0.5rem + 2vw, 2rem);
            // display: grid;
        }

        .lectureButtonTitle {
            font-size: clamp(0.4rem, 1rem + 4vw, 2.5rem);
            grid-area: name;
            margin-top: 4px;

            @media (min-width: 768px) {
                font-size: clamp(0.4rem, 1rem + 1vw, 2.5rem);
            }
        }

        // span {
        //     font-size: clamp(1rem, 1rem + 2vw, 2rem);
        // }
        &:hover {
            background-color: rgb(245, 215, 176);
        }

        &:active {
            background-color: rgb(243, 187, 149);
        }

        // &:nth-of-type(odd) {
        //     margin-left: 15px;
        // }
        // &:nth-of-type(even) {
        //     margin-right: 15px;
        // }

        @media (min-width: 768px) {
            grid-template-rows: auto;
            grid-template-columns: 30% 40% 30%;
            grid-template-areas: "info name .";

            width: 76vw;
            border: 3px solid $border-yellow;
            border-radius: 100px;

            .set-buttons-helper {
                font-size: clamp(1rem, 1rem + 2vw, 1rem);
                justify-content: space-evenly;
                // display: grid;
            }

            .lectureButtonTitle {
                text-align: center;
            }

            flex-direction: row;

            &:nth-of-type(odd) {
                margin-left: 30px;
            }
            &:nth-of-type(even) {
                margin-right: 30px;
            }
        }
    }

    .lectureScreen {
        width: 100%;
        .lectureTitle {
            text-align: center;
            color: $cloud-white;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            margin-top: 35px;
            // z-index: 0;

            // &:before {
            //     content: attr(string);
            //     position: absolute;
            //     -webkit-text-stroke: 0.2em $stripes-red;
            //     z-index: -1;
            // }
        }

        .lectureScreenButtons {
            display: flex;
            flex-direction: column;

            button {
                font-weight: 400;
                text-transform: capitalize;
                font-size: 1.1rem;
                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;
                padding: 10px 26px;
                margin: 10px 0;

                &:hover {
                    border-color: $stripes-red;
                }
            }

            .reviewButton {
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
            }

            .learnButton {
                @media (min-width: 768px) {
                    padding: 0 60px;
                }
            }

            .backButton {
                margin-left: auto;
            }

            @media (min-width: 768px) {
                padding: 0 10%;
                margin: 30px 0;
                flex-direction: row;
            }
        }

        .termListDiv {
            display: flex;
            justify-content: center;
            background-color: #20496b;

            .termList {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 0;

                .termItem {
                    display: flex;
                    background-color: #001e37;
                    color: #f5fcff;
                    margin: 6px 0;
                    width: 100%;
                    padding: 14px 8px;

                    font-size: clamp(0.5rem, 0.5rem + 2vw, 1.4rem);

                    .term {
                        flex: 1;
                    }

                    .verticalRule {
                        background-color: $stripes-red;
                        height: 20px;
                        width: 2px;
                    }

                    .answer {
                        text-align: end;
                        flex: 1;
                    }

                    div {
                        align-self: center !important;
                    }
                }

                @media (min-width: 768px) {
                    max-width: 80%;
                    // padding: 47px 198px;

                    .termItem {
                        border-radius: 15px;
                        padding: 24px 15px;
                    }
                }
            }
        }
    }

    .learnScreen {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;

        @media (min-width: 768px) {
            width: 80%;
        }

        .learnScreenTitle {
            text-align: center;
            color: #f5fcff;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            margin-top: 0px;

            @media (min-width: 768px) {
                margin-top: 17px;
            }
        }

        .panel {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: auto;
            // grid-template-areas: ". counter backButton";
            width: 100%;
            margin: 10px 0;

            button {
                min-width: 85px;
            }

            p {
                // grid-area: counter;
                align-self: center;
                justify-self: center;
                color: white;
                margin: 0;
                font-size: 2rem;
                font-family: "Gidugu";
            }

            .optionsButton {
                font-weight: 400;
                text-transform: capitalize;

                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;

                margin: 10px 20px 10px;
                align-self: center;
                justify-self: center;

                &:hover {
                    border-color: $stripes-red;
                }

                @media (min-width: 768px) {
                    font-size: 1.1rem;
                    padding: 10px 26px;
                }
            }

            .backButton {
                // grid-area: backButton;
                font-weight: 400;
                text-transform: capitalize;

                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;

                margin: 10px 20px 10px;
                align-self: center;
                justify-self: center;

                &:hover {
                    border-color: $stripes-red;
                }

                @media (min-width: 768px) {
                    font-size: 1.1rem;
                    padding: 10px 26px;
                }
            }
        }

        .progressBar {
            display: flex;
            flex-direction: column;
            background-color: #70706f;
            // min-width: 100%;
            width: 90vw;
            height: 32px;

            .progressHalf {
                display: flex;
                flex-grow: 1;
            }

            .progressBarItem {
                flex-grow: 1;
                border-left: #c9e4d0 solid;
                border-right: #404040 solid;
                border-top: #c9e4d0 solid;
                border-bottom: #404040 solid;
                border-width: 1px;
            }

            .activeItem {
                border: #ffc107 2px inset;
            }

            .learning {
                background-color: rgb(189 42 69);
            }

            .learned {
                background-color: #287700;
            }

            @media (min-width: 768px) {
                flex-direction: row;
                min-width: 80%;
                height: 16px;
                margin: 40px 0;
            }
        }

        .termCardSection {
            display: flex;

            .termCardButtonDesktop {
                display: none;

                @media (min-width: 768px) {
                    display: block;

                    border-style: none;
                    border-radius: 41px;
                    background-color: brown;
                    color: aliceblue;
                    width: 51px;

                    &:hover {
                        background-color: rgb(148, 24, 24);
                    }
                }
            }

            button {
                margin: 40px 0;

                &:hover {
                    background-color: brown;
                }
            }
        }

        .termCardDiv {
            width: 90vw;
            height: 50vh;
            // min-height: 50vh;
            position: relative;

            @media (min-width: 768px) {
                width: 70vw;
            }

            .termCard {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                display: flex;
                flex-direction: column;
                // height: 400px;
                // width: 700px;

                color: #8b4500;
                // background-color: blanchedalmond;
                background-color: #fdd2a6;
                margin: 10px;
                border-radius: 15px;
                overflow: hidden;

                div {
                    display: grid;
                }

                .term,
                .answerSection {
                    font-size: clamp(1rem, 1rem + 2vw, 1rem);
                    flex: 1;
                    text-align: center;

                    span {
                        align-self: center;
                    }

                    .clickReveal {
                        cursor: pointer;
                    }

                    @media (min-width: 768px) {
                        font-size: clamp(1rem, 1rem + 2vw, 2rem);
                    }
                }

                .answerSection {
                    flex: 1;
                    // background-color: bisque;
                }

                .divider {
                    height: 1px;
                    background-color: #b33e09;
                    padding: 0 10px;
                    margin: 0 20px;
                }
            }

            .disappear-right {
                animation-name: disappear-right;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-right {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(400px) translateY(-100px) scale(1.05)
                        rotateZ(5deg) rotateY(50deg) rotateX(40deg);
                    background-color: rgb(177, 128, 78);
                }
                100% {
                    transform: translateX(400px) translateY(-100px) scale(1.02);

                    opacity: 0;
                }
            }

            .disappear-left {
                animation-name: disappear-left;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-left {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(-400px) translateY(-100px) scale(1.05)
                        rotateZ(-5deg) rotateY(50deg) rotateX(-40deg);
                    background-color: rgb(177, 128, 78);
                }
                100% {
                    transform: translateX(-400px) translateY(-100px) scale(1.02);

                    opacity: 0;
                }
            }
        }

        .mobileTermButtons {
            color: white;
            // align-self: end;
            // margin-right: 10px;
            .termCardButtonMobile {
                background-color: brown;
                background-color: brown;
                width: 100px;
                color: aliceblue;
                border-style: solid;
                margin: 0px 22px;
                margin-top: 20px;
                gap: 10px;
                padding: 12px 0px;
                border-radius: 10px;
                border-color: #4c0000;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }

        .learnButtons {
            display: flex;
            width: 100%;
            button {
                border: none;
                border-radius: 15px;
                margin: 0 5px;
                height: 66px;
                width: 100px;
                flex: 1;
            }
            .learningButton {
                background-color: rgb(225 183 167);
                color: $stripes-red;

                &:hover {
                    // background-color: rgb(216, 142, 113);
                }
            }

            .learnedButton {
                background-color: rgb(235 255 218);
                color: rgb(31 59 9);
                &:hover {
                    // background-color: rgb(137, 199, 87);
                }
            }

            .learning {
                border: 3px solid rgb(189 42 69);
            }

            .learned {
                border: 3px solid #38a301;
            }

            @media (min-width: 768px) {
                width: 50%;
            }
        }

        .nextRedButton {
            background-color: #ab071d;
            border-radius: 10px;
            border-style: none;
            text-align: end;
            font-weight: 900;
            color: white;
            margin-top: 15px;
            padding: 18px;
            align-self: end;

            @media (min-width: 768px) {
                width: 700px;
                margin: 10px;
                padding: 20px;
            }
        }
    }
}

.forms {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 50px 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 130px;
    color: $cloud-white;

    @media (min-width: 768px) {
        height: 100px;
        flex-direction: row;
        padding-right: 20px;
        align-items: center;

        :first-child {
            margin-left: auto;
        }
    }
}
