@font-face {
    font-family: "Gidugu";
    src: url("../assets/fonts/Gidugu/Gidugu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto_Serif";
    src: url("../assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf")
        format("truetype");
}

$primary-color: #e64b75;
$secondary-color: #81459b;
$very-dark-purple: #4c1c61;
$light-purple: #f3dcfd;
$darker-purple: #e8d8ff;
$blueish-green: #1e937c;
$dark-green: #00331f;
$christmas-red: #ad0906;
$christmas-green: #06493e;
$border-color: #c7e9f9;

// $background-blue: #024a62;
// $stripes-red: #97171a;
// $cloud-white: #f5fcff;
// $border-yellow: #f5b64e;
// $link-yellow: #ff9b31;
// $inner-type-color: #532f00;

$background-blue: #032745;
$stripes-red: #ab071d;
$cloud-white: #f5fcff;
$border-yellow: #f5b64e;
$link-yellow: #ff9b31;
$inner-type-color: #532f00;

hr {
    border-top: 4px solid $stripes-red !important;
    // border-width: 5px;
    opacity: 1 !important;
}

h1 {
    color: $cloud-white !important;
}

a {
    color: $link-yellow !important;
}

.App {
    // margin: 20px;
    background-color: $background-blue;
    font-family: メイリオ, Meiryo !important;
}

.divider {
    margin-top: 50px;
    height: 30px;
    background-color: $stripes-red;

    .logo {
        width: 83px;
        position: relative;
        left: 50%;
        top: -31px;
        filter: invert(100%);
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $cloud-white;
    padding-top: 20px;

    .logo {
        color: white;

        width: 20px;
    }

    .pageTitle {
        font-family: "Gidugu";
        text-transform: uppercase;
        font-size: clamp(4rem, 1rem + 6vw, 5rem);
    }
    .infoHeader {
        margin: 0;

        @media (min-width: 768px) {
            margin-right: auto;
            margin-left: 20px;
        }
    }

    .save {
        padding-left: 5px;
        margin-right: auto;
    }

    .loginControls {
        padding: 0 10px;
        text-align: center;
    }

    .not-logged {
        color: red;
    }

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        padding: 0 20px;
    }
}

.main {
    overflow: hidden;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        form {
            display: flex;
            flex-direction: column;
        }
    }

    .timer {
    }

    .content {
        display: flex;
    }

    .label {
    }

    .checkbox {
    }

    .lectureButton {
        display: flex;
        flex-direction: column;
        background-color: $cloud-white;
        color: $inner-type-color;
        font-family: "Noto_Serif";
        // height: 50px;
        width: 76vw;
        border: 3px solid $border-yellow;
        border-radius: 100px;
        margin: 10px 0;
        padding: 10px 0;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .set-buttons-helper {
            font-size: clamp(0.4rem, 0.5rem + 1vw, 2rem);
            // display: grid;
        }

        span {
            font-size: clamp(1rem, 1rem + 2vw, 2rem);
        }
        &:hover {
            background-color: rgb(245, 215, 176);
        }

        &:active {
            background-color: rgb(243, 187, 149);
        }

        &:nth-of-type(odd) {
            margin-left: 15px;
        }
        &:nth-of-type(even) {
            margin-right: 15px;
        }

        @media (min-width: 768px) {
            .set-buttons-helper {
                font-size: clamp(1rem, 1rem + 2vw, 2rem);
                // display: grid;
            }

            flex-direction: row;

            &:nth-of-type(odd) {
                margin-left: 30px;
            }
            &:nth-of-type(even) {
                margin-right: 30px;
            }
        }
    }

    .lectureScreen {
        .lectureTitle {
            text-align: center;
        }
        .lectureScreenButtons {
            display: flex;

            .backButton {
                margin-left: auto;
            }
        }
        .termList {
            .termItem {
                display: flex;
                background-color: burlywood;
                margin: 10px 0;

                .verticalRule {
                    border-left: 1px solid black;
                    background-color: aqua;
                    height: 20px;
                    position: absolute;
                    left: 50%;
                }

                .answer {
                    text-align: end;
                }
                div {
                    flex: 1;
                    align-self: center !important;
                }
            }
        }
    }

    .learnScreen {
        display: flex;
        flex-direction: column;
        align-items: center;

        .backButton {
            margin-left: auto;
            //
        }

        .progressBar {
            display: flex;
            background-color: #70706f;
            min-width: 80%;
            height: 16px;

            .progressBarItem {
                flex-grow: 1;
                border-left: #c9e4d0 solid;
                border-right: #404040 solid;
                border-top: #c9e4d0 solid;
                border-bottom: #404040 solid;
                border-width: 1px;
            }

            .activeItem {
                border: #ffc107 2px inset;
            }

            .learning {
                background-color: rgb(189 42 69);
            }

            .learned {
                background-color: #287700;
            }
        }

        .termCardSection {
            display: flex;

            button {
                margin: 40px 0;

                &:hover {
                    background-color: brown;
                }
            }
        }
        .termCardDiv {
            width: 70vw;
            height: 50vh;
            // min-height: 50vh;
            position: relative;

            .termCard {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                display: flex;
                flex-direction: column;
                // height: 400px;
                // width: 700px;

                background-color: blanchedalmond;
                margin: 10px;
                border-radius: 15px;
                overflow: hidden;

                div {
                    display: grid;
                }

                .term,
                .answerSection {
                    font-size: clamp(1rem, 1rem + 2vw, 2rem);
                    flex: 1;
                    text-align: center;

                    span {
                        align-self: center;
                    }
                }

                .answerSection {
                    flex: 1;
                    // background-color: bisque;
                }
            }

            .disappear-right {
                animation-name: disappear-right;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-right {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(400px) translateY(-40px) scale(1.02)
                        rotateZ(5deg) rotateY(50deg) rotateX(20deg);
                    background-color: #d5af89;
                }
                100% {
                    transform: translateX(400px) translateY(-40px) scale(1.02);

                    opacity: 0;
                }
            }

            .disappear-left {
                animation-name: disappear-left;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-left {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(-400px) translateY(-40px) scale(1.02)
                        rotateZ(-5deg) rotateY(50deg) rotateX(-20deg);
                    background-color: #d5af89;
                }
                100% {
                    transform: translateX(-400px) translateY(-40px) scale(1.02);

                    opacity: 0;
                }
            }
        }

        .learnButtons {
            button {
                border: none;
                border-radius: 15px;
                margin: 0 25px;
                height: 66px;
                width: 100px;
            }
            .learningButton {
                background-color: rgb(225 183 167);

                &:hover {
                    background-color: rgb(216, 142, 113);
                }
            }

            .learnedButton {
                background-color: rgb(200 233 173);

                &:hover {
                    background-color: rgb(137, 199, 87);
                }
            }

            .learning {
                border: 3px solid rgb(189 42 69);
            }

            .learned {
                border: 3px solid #287700;
            }
        }
    }
}

.forms {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 50px 50px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    color: $cloud-white;

    @media (min-width: 768px) {
        height: 100px;
        flex-direction: row;
        padding-right: 20px;
        align-items: center;

        :first-child {
            margin-left: auto;
        }
    }
}
