@font-face {
    font-family: "Gidugu";
    src: url("../assets/fonts/Gidugu/Gidugu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto_Serif";
    src: url("../assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf")
        format("truetype");
}

$background-blue: #032745;
$stripes-red: #ab071d;
$cloud-white: #f5fcff;
$border-yellow: #f5b64e;
$link-yellow: #ff9b31;
$inner-type-color: #532f00;
$victory-green: #30a929;
$loser-red: #e31720;

hr {
    border-top: 4px solid $stripes-red !important;
    opacity: 1 !important;
    margin: 5px 0;

    @media (min-width: 768px) {
        margin: 0;
    }
}

h1 {
    color: $cloud-white !important;
}

a {
    color: $link-yellow !important;
}

.dismissableBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        margin: 0;
        font-size: 12px;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }

    button {
        border: none;
        margin-left: 15px;
        font-size: 18px;
    }
}

.modal-body {
    padding-bottom: 30px !important;

    .languageText {
        text-decoration: underline;
        text-decoration-color: $stripes-red;
        font-weight: 600;
    }
}

.modal-header {
    background-color: $stripes-red;
    color: white;
    border-bottom: 4px solid #032745;

    button {
        filter: invert(1);
        opacity: 0.8;

        &:hover {
            opacity: 1 !important;
        }
    }
}
.form-check {
    .form-check-label {
        font-weight: 500;
    }
    p {
        padding-left: 10px;
    }
}

.goldAccent {
    color: goldenrod;
}

.App {
    background-color: $background-blue;
    font-family: メイリオ, Meiryo !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .backToTopButton {
        color: $cloud-white;
        background-color: #20496b00;
        border: none;
        padding-bottom: 20px;
        margin-left: auto;

        &:hover {
            color: #c3c3c3;
        }

        @media (min-width: 768px) {
            padding-right: 10%;
        }
    }
}

.upperDivider {
    margin-top: 9px;
    height: 4px;
    background-color: $stripes-red;

    @media (min-width: 768px) {
        height: 30px;
    }

    .upperLogo {
        display: none;

        @media (min-width: 768px) {
            display: block;
            width: 84px;
            position: relative;
            margin-left: calc(50% - 42px);
            top: -31px;
            filter: invert(100%);
        }
    }
}

.divider {
    margin-top: 50px;
    height: 30px;
    background-color: $stripes-red;

    .logo {
        width: 84px;
        position: relative;
        margin-left: calc(50% - 42px);
        top: -31px;
        filter: invert(100%);
    }
}

.header {
    z-index: 15;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #032745;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: $cloud-white;
    border-bottom: 4px solid $stripes-red !important;

    #db-error-tooltip {
        z-index: 1;
        width: 200px;
        overflow-wrap: break-word;
        display: block;
    }

    .dbError {
        display: flex;
        position: fixed;
        font-size: 2rem;
        top: 40vh;
        color: gold;
        right: 20px;
        z-index: 1;
        background-color: #c10000;
        border-radius: 39px;
        padding: 6px;

        @media (min-width: 768px) {
            background-color: #001e3700;
            font-size: 3rem;
        }
    }

    .logo {
        color: white;

        width: 20px;
    }

    .pageTitle {
        font-family: "Gidugu";
        text-transform: uppercase;
        font-size: 36px;
        text-align: center;
        margin: 0;
        // font-size: clamp(0rem, 0rem + 2vw, 3rem);
        cursor: pointer;

        @media (min-width: 768px) {
            font-size: 54px;
        }
    }

    .infoHeader {
        font-size: 12px;
        @media (min-width: 768px) {
            text-align: start;
            margin-left: 10px;
        }
    }

    .save {
        padding-left: 5px;
        margin-right: auto;
    }

    .loginControls {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 10px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;

        .accountButtons {
            display: flex;
            flex-direction: row-reverse;
            padding: 0 5px;

            .logoutButton {
                background-color: #001e3700;
                border: none;
                color: $cloud-white;
                font-size: 14px;
            }

            @media (min-width: 768px) {
                flex-direction: row;
                padding: 0;
                font-size: clamp(0rem, 0rem + 1vw, 3rem);
            }
        }

        .username {
            background: #ab071d;
            color: white;
            border-style: none;
            padding: 0 10px;
            // width: 100%;
            // padding-right: 50px;
            // padding-left: 50px;
            align-self: center;
            cursor: pointer;
        }

        .loginButton {
            background-color: $stripes-red;
            padding: 0 40px;
            color: white;
            border: none;

            &:hover {
                color: $border-yellow;
            }

            @media (min-width: 768px) {
                background-color: $stripes-red;
                padding: 0 40px;
            }
        }

        .registerButton {
            border: none;
            background-color: $background-blue;
            color: $cloud-white;
        }

        @media (min-width: 768px) {
            padding: 0;
            flex-direction: row;
            flex-grow: 1;

            button {
                border: none;
                background-color: $background-blue;
                color: $cloud-white;
                margin-right: 15px;

                &:hover {
                    color: $border-yellow;
                }
            }

            .infoHeader {
                flex: 2;
            }

            .username {
                flex: 1;
                background: #ab071d;
                color: white;
                border-style: none;
                width: 100%;
                padding-right: 50px;
                padding-left: 20px;
                align-self: center;
            }

            .yellowBar {
                position: relative;
                left: 400px;
                background-color: $border-yellow;
                height: 3px;
                width: 100%;
                transition: 0.4s;
                transition-timing-function: ease;
            }

            &:hover {
                .yellowBar {
                    left: 0px;
                }
            }
        }
    }

    .not-logged {
        color: red;
    }

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        padding-left: 20px;
    }
}

.main {
    margin-top: 115px;
    overflow: hidden;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        form {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 20px;
            }

            .submitButton {
                border: 2px solid white;
                border-radius: 15px;
                transition: 0.15s;

                &:hover {
                    background-color: $stripes-red;
                    border-color: $stripes-red;
                    color: white;
                }
            }

            .passwordInfo {
                display: flex;
                flex-direction: column;
            }

            .passwordInfoDesktop {
                display: none;
                color: #ffffff8f;
                font-size: 0.8rem;

                @media (min-width: 768px) {
                    display: block;
                }
            }

            .passwordInfoMobile {
                color: #ffffff8f;
                font-size: 0.8rem;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }

        @media (min-width: 768px) {
            max-width: 25%;
        }
    }

    .lectureList {
        width: 100%;
        display: flex;
        flex-direction: column;

        .searchBar {
            color: white;

            .searchInput {
                margin-bottom: 10px;

                .searchButton {
                    background-color: #ab071d;
                    color: white;
                }

                button {
                }
            }

            .resultElem {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-areas: "lectureName term extra answer";

                .name {
                    grid-area: lectureName;

                    border-right: goldenrod 2px solid;
                    margin-right: 2px;
                }

                .term {
                    grid-area: term;
                }

                .extra {
                    grid-area: extra;
                }

                .answer {
                    grid-area: answer;
                }
                &:nth-child(odd) {
                    background-color: #20496b;
                }
            }

            .resultList {
            }
        }

        p {
            color: white;
            text-align: center;
        }
        .lectureListTitle {
            text-align: center;
            color: #f5fcff;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            font-size: 2.2rem;
            margin-bottom: 8px;

            @media (min-width: 768px) {
                margin-top: 8px;
            }
        }

        .lectureButtons {
            display: flex;
            flex-direction: column;

            .spinner {
                color: white;
                margin: auto;
            }
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1024px;
        }
    }

    .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        color: white;

        margin-top: auto;
        margin-bottom: auto;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px 0;

            button {
                margin-top: 20px;
                &:disabled {
                    color: #adadad;
                }
            }

            input {
                &:disabled {
                    color: #adadad;
                }
            }
        }

        h2 {
            text-align: center;
        }
    }

    .registerHelp {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        .helpMessage {
            color: white;
            margin: 0;
            text-align: center;
        }

        .needConfirmationButton {
            border: none;
            color: white;
            &:hover {
                color: gold;
                background-color: $background-blue;
            }

            background-color: #03213b;
            text-decoration: underline;
        }
    }

    .content {
        display: flex;
    }

    .lectureButton {
        display: flex;
        flex-direction: column;
        // display: grid;
        // grid-template-rows: 33% 33% 33%;
        // grid-template-areas:
        //     "info"
        //     "name"
        //     "extras";
        background-color: $cloud-white;
        color: $inner-type-color;
        font-family: "Noto_Serif";
        width: 100%;
        border-top: 3px solid #dbb01c;
        border-bottom: 3px solid #dbb01c;
        margin: 5px 0;
        padding: 10px 0;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .testIcon {
            font-size: 24px;
        }

        .set-buttons-helper {
            display: flex;
            width: 80%;
            justify-content: space-between;
            grid-area: info;
            font-size: clamp(0.4rem, 0.5rem + 2vw, 2rem);
        }

        .extras {
            grid-area: extras;
            margin: auto;
        }

        .lectureButtonTitle {
            font-size: clamp(0.4rem, 1rem + 4vw, 2.5rem);
            grid-area: name;
            margin-top: 4px;

            @media (min-width: 768px) {
                font-size: clamp(0.4rem, 1rem + 0.3vw, 2.5rem);
            }
        }

        &:hover {
            background-color: rgb(245, 215, 176);
        }

        &:active {
            background-color: rgb(243, 187, 149);
        }

        @media (min-width: 768px) {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 30% 40% 30%;
            grid-template-areas: "info name extras";

            width: 76vw;
            max-width: 740px;
            border: 3px solid $border-yellow;
            border-radius: 100px;

            .set-buttons-helper {
                font-size: clamp(0rem, 0.5rem + 0.5vw, 1rem);
                justify-content: space-evenly;
                flex-direction: column;
                padding-left: 30px;
            }

            .lectureButtonTitle {
                text-align: center;
            }

            flex-direction: row;

            &:nth-of-type(odd) {
                margin-left: 30px;
            }
            &:nth-of-type(even) {
                margin-right: 30px;
            }
        }
    }

    .lectureScreen {
        width: 100%;
        .lectureTitle {
            text-align: center;
            color: $cloud-white;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            margin: 10px 0;
            // margin-top: 35px;
        }

        .lectureScreenButtons {
            display: flex;
            flex-direction: column;

            .learningButtons {
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                button {
                    margin: 5px;
                }

                @media (min-width: 768px) {
                    flex-direction: row;
                }
            }

            button {
                // flex: 1;
                font-weight: 400;
                text-transform: capitalize;
                font-size: 1.1rem;
                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;
                padding: 10px 26px;
                margin: 10px 10px;

                &:hover {
                    border-color: $stripes-red;
                }
            }

            .reviewButton {
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
            }

            .learnButton {
                @media (min-width: 768px) {
                    padding: 0 60px;
                }
            }

            .testButton {
                @media (min-width: 768px) {
                    padding: 0 15px;
                }
            }

            .backButton {
                margin-left: auto;
                flex: 0;
            }

            .disabled {
                background-color: gray;
                color: rgb(77, 77, 77);
                border: 3px solid rgb(77, 77, 77);
                cursor: default;

                &:hover {
                    border-color: rgb(77, 77, 77);
                }
            }

            @media (min-width: 768px) {
                padding: 0 10%;
                margin-top: 8px;
                margin-bottom: 30px;
                flex-direction: row;
            }
        }

        .termListDiv {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: white;
                font-family: serif;
                text-decoration: underline;
                text-decoration-color: #dbb01c;
            }

            .termList {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 0;
                background-color: #20496b;

                .termItem {
                    display: flex;
                    background-color: #001e37;
                    color: #f5fcff;
                    margin: 6px 0;
                    width: 100%;
                    padding: 14px 8px;

                    font-size: clamp(0.5rem, 0.5rem + 2vw, 1.4rem);

                    .term {
                        flex: 1;
                    }

                    .verticalRule {
                        background-color: $stripes-red;
                        height: 20px;
                        width: 2px;
                    }

                    .answer {
                        text-align: end;
                        flex: 1;
                    }

                    div {
                        align-self: center !important;
                    }

                    @media (min-width: 768px) {
                        width: 80%;
                        max-width: 1024px;
                    }
                }

                @media (min-width: 768px) {
                    // max-width: 80%;
                    width: 100%;

                    .termItem {
                        border-radius: 15px;
                        padding: 15px 15px;
                    }
                }
            }
        }
    }

    .learnScreen {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;

        @media (min-width: 768px) {
            width: 80%;
        }

        .learnScreenTitle {
            text-align: center;
            color: #f5fcff;
            font-family: "Noto Serif";
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #dbb01c;
            margin: 0px;

            @media (min-width: 768px) {
                margin-top: 17px;
            }
        }

        .learnScreenPanel {
            display: grid;
            grid-template-rows:
                70%
                30%;
            width: 100%;
            margin: 2px 0;

            .panel {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: auto;
            }

            .info {
                display: grid;
                // grid-template-columns: 33% 33% 33%;
                p {
                    color: white;
                    font-size: 12px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            button {
                min-width: 85px;
            }

            p {
                align-self: center;
                justify-self: center;
                color: white;
                margin: 0;
                font-size: 2rem;
                font-family: "Gidugu";
            }

            .optionsButton {
                font-weight: 400;
                text-transform: capitalize;

                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;

                margin: 10px 20px 10px;
                align-self: center;
                justify-self: center;

                &:hover {
                    border-color: $stripes-red;
                }

                @media (min-width: 768px) {
                    font-size: 1.1rem;
                    padding: 10px 26px;
                }
            }

            .backButton {
                font-weight: 400;
                text-transform: capitalize;

                background-color: #f5fcff;
                color: #532f00;
                font-family: "Noto_Serif";
                border: 3px solid #f5b64e;
                border-radius: 100px;
                cursor: pointer;

                margin: 10px 20px 10px;
                align-self: center;
                justify-self: center;

                &:hover {
                    border-color: $stripes-red;
                }

                @media (min-width: 768px) {
                    font-size: 1.1rem;
                    padding: 10px 26px;
                }
            }
        }

        .progressBar {
            display: flex;
            flex-direction: column;
            background-color: #70706f;
            width: 90vw;
            height: 22px;

            .progressHalf {
                display: flex;
                flex-grow: 1;
            }

            .progressBarItem {
                flex-grow: 1;
                border-left: #c9e4d0 solid;
                border-right: #404040 solid;
                border-top: #c9e4d0 solid;
                border-bottom: #404040 solid;
                border-width: 1px;
            }

            .activeItem {
                border: #ffc107 2px inset;
            }

            .learning {
                background-color: rgb(189 42 69);
            }

            .learned {
                background-color: #287700;
            }

            @media (min-width: 768px) {
                flex-direction: row;
                min-width: 80%;
                height: 16px;
                margin: 12px 0;
            }
        }

        .termCardSection {
            display: flex;

            .termCardButtonDesktop {
                display: none;

                @media (min-width: 768px) {
                    display: block;

                    border-style: none;
                    border-radius: 41px;
                    background-color: #656565;
                    color: aliceblue;
                    width: 51px;
                    transition: 0.3s;

                    &:hover {
                        background-color: #474747;
                    }

                    &:active {
                        background-color: #818181;
                    }
                }
            }

            button {
                margin: 40px 0;

                // &:hover {
                //     background-color: brown;
                // }

                &:active {
                    margin: 35px 0;
                }
            }
        }

        .termCardDiv {
            max-width: 935px;
            width: 80vw;
            height: 40vh;
            position: relative;

            @media (min-width: 768px) {
                width: 70vw;
            }

            .termCard {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                color: #8b4500;
                background-color: #fdd2a6;
                margin: 10px;
                border-radius: 15px;
                overflow: hidden;

                div {
                    display: grid;
                }

                .term,
                .answerSection {
                    font-size: clamp(1rem, 1rem + 2vw, 1rem);
                    flex: 1;
                    text-align: center;

                    span {
                        align-self: center;
                    }

                    .clickReveal {
                        cursor: pointer;
                    }

                    @media (min-width: 768px) {
                        font-size: clamp(1rem, 1rem + 2vw, 2rem);
                    }
                }

                .answerSection {
                    flex: 1;
                }

                .divider {
                    height: 1px;
                    background-color: #b33e09;
                    padding: 0 10px;
                    margin: 0 20px;
                }
            }

            .disappear-right {
                animation-name: disappear-right;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-right {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(400px) translateY(-100px) scale(1.05)
                        rotateZ(5deg) rotateY(50deg) rotateX(40deg);
                    background-color: rgb(177, 128, 78);
                }
                100% {
                    transform: translateX(400px) translateY(-100px) scale(1.02);

                    opacity: 0;
                }
            }

            .disappear-left {
                animation-name: disappear-left;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            @keyframes disappear-left {
                10% {
                    opacity: 1;
                }
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(-400px) translateY(-100px) scale(1.05)
                        rotateZ(-5deg) rotateY(50deg) rotateX(-40deg);
                    background-color: rgb(177, 128, 78);
                }
                100% {
                    transform: translateX(-400px) translateY(-100px) scale(1.02);

                    opacity: 0;
                }
            }
        }

        .mobileTermButtons {
            color: white;

            .termCardButtonMobile {
                background-color: #656565;
                width: 100px;
                color: aliceblue;
                border-style: solid;
                margin: 0px 22px;
                margin-top: 12px;
                gap: 10px;
                padding: 12px 0px;
                border-radius: 10px;
                border-color: #868686;
                @media (min-width: 768px) {
                    display: none;
                }

                &:active {
                    background-color: #5c5c5c;
                    border-color: #3d3d3d;
                }
            }
        }

        .learnButtons {
            display: flex;
            width: 100%;
            button {
                border: none;
                border-radius: 15px;
                margin: 0 5px;
                height: 50px;
                width: 100px;
                flex: 1;
            }
            .learningButton {
                background-color: rgb(225 183 167);
                color: $stripes-red;
            }

            .learnedButton {
                background-color: rgb(235 255 218);
                color: rgb(31 59 9);
            }

            .learning {
                border: 3px solid rgb(189 42 69);
            }

            .learned {
                border: 3px solid #38a301;
            }

            @media (min-width: 768px) {
                width: 50%;
            }
        }

        .nextRedButton {
            background-color: #ab071d;
            border-radius: 10px;
            border-style: none;
            text-align: end;
            font-weight: 900;
            color: white;
            margin-top: 12px;
            padding: 12px;
            align-self: end;
            font-size: 0.9rem;

            @media (min-width: 768px) {
                width: 700px;
                margin: 10px;
                padding: 20px;
            }
        }
    }

    .beginTestScreen {
        // background-color: #255277;

        .beginTestButton {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 27px;
            /* border: #98da98 6px solid; */
            padding: 10px 10px;
            border: none;
            border-radius: 6px;
            background-color: #137508;
            color: #e8ebed;
            width: 75%;
            margin-bottom: 20px;
            &:hover {
                background-color: #269719;
            }
        }

        .info {
            padding: 15px 0;
        }
    }

    .testScreen {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 60vh;
        max-width: 962px;
        align-items: center;
        text-align: center;

        color: $cloud-white;

        hr {
            margin: 0;
            border-top: 1px white solid !important;
            width: 45%;
            align-self: center;
        }

        .titleAndPoints {
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 15% 70% 15%;
            grid-template-areas: ". title points";

            .pointsCounter {
                display: flex;
                // position: absolute;
                right: 10px;
                background-color: #880000;
                border-radius: 100px;
                height: 40px;
                width: 40px;

                p {
                    font-size: 10px;
                    margin: auto;
                }

                @media (min-width: 768px) {
                    right: 20%;
                    // height: 60px;
                    width: 60px;

                    p {
                        font-size: 15px;
                        margin: auto;
                    }
                }
            }
        }

        .highScoreResume,
        .lastTestResume {
            .testBackButton {
                margin-top: 0px;
            }
        }

        .highScoreResume {
            .panel {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-areas: "date . backButton";
                align-items: center;

                p {
                    margin: 0;
                }
            }

            .backButton {
                border: none;
                border-radius: 15px;
                max-width: 140px;
            }

            hr {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .lastTestResume {
            .panel {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-areas: "date points backButton";
                align-items: center;

                p {
                    margin: 0;
                }
            }

            .backButton {
                border: none;
                border-radius: 15px;
                max-width: 140px;
            }
        }

        .testResume {
            display: flex;
            flex-direction: column;

            h1 {
                margin-top: 20px;
            }

            div {
            }
            .testAnswerComponent {
                &:nth-child(odd) {
                    background-color: #164b78;
                }

                margin: 15px 0;
                padding: 10px;
                width: 100%;

                p {
                    margin: 0;
                    @media (min-width: 600px) {
                        margin-bottom: 1rem;
                    }
                }

                div {
                    margin-bottom: 10px;

                    @media (min-width: 600px) {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }

                .staticText {
                    text-align: start;
                }
            }
        }

        .savedResultsButtons {
            margin-top: 15%;
            margin-bottom: 27px;

            button {
                border: none;
                border-radius: 15px;
                color: white;
                padding: 10px 10px;
                margin: 10px;

                &:first-child {
                    background-color: #164b78;

                    &:hover {
                        background-color: #2d628f;
                    }
                }

                &:last-child {
                    background-color: #997800;
                    &:hover {
                        background-color: #856800;
                    }
                }
            }
            .deactivated {
                text-decoration: line-through;
                background-color: gray !important;
            }
        }

        .stickerDiv {
            // height: 150px;

            .spinnerContainer {
                display: flex;
                justify-content: center;
                height: 150px;
                div {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            #sticker-info-tooltip {
                width: 200px;
                overflow-wrap: break-word;
                background-color: white;
                color: #022e52;
                border-radius: 23px;
            }

            .stickerTooltip {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                background-color: #3a5c77;
                width: 150px;
                height: 150px;
                border-radius: 15px;
                border-style: dashed;
                border-color: #9cb0c0;
                box-sizing: content-box;

                .winSticker {
                    position: relative;
                    top: -150px;
                    opacity: 0;
                    width: 100%;
                    animation: winSticker 1s;
                    animation-delay: 2s;
                    animation-timing-function: cubic-bezier(0.07, 0.76, 0.4, 1);
                    animation-fill-mode: forwards;
                }

                .showSticker {
                    opacity: 1;
                    width: 100%;
                    animation: showSticker 4s infinite;
                    animation-fill-mode: forwards;
                }

                .showOutline {
                    opacity: 1;
                    width: 100%;
                }

                @keyframes winSticker {
                    0% {
                        transform: translateY(-120px) rotateZ(-20deg)
                            translateX(-80px) scale(250%);
                        opacity: 0;
                    }
                    60% {
                        opacity: 1;
                    }

                    100% {
                        transform: translate(0);
                        opacity: 1;
                    }
                }

                @keyframes borderGold {
                    50% {
                        border-style: dashed;
                        border-color: #9cb0c0;
                    }
                    100% {
                        border-color: #f5b64e;
                        border-style: inset;
                    }
                }

                @keyframes showSticker {
                    0% {
                        transform: rotateZ(0);
                    }
                    5% {
                        transform: rotateZ(-5deg);
                    }
                    10% {
                        transform: rotateZ(5deg);
                    }

                    15% {
                        transform: rotateZ(-5deg);
                    }

                    20% {
                        transform: rotateZ(5deg);
                    }

                    25% {
                        transform: rotateZ(0);
                    }

                    100% {
                        transform: translate(0);
                    }
                }
            }

            .win {
                border-color: #f5b64e;
                border-style: inset;
            }

            .stickerContainer {
                background-color: #20496b;
                padding: 20px;
            }
        }

        .scoreParent {
            position: relative;

            .score,
            .maxScore {
                font-size: 4rem;
                font-family: "Gidugu";

                @media (min-width: 768px) {
                    font-size: 7rem;
                }
            }

            .newRecord {
                margin: 0;
                font-size: 12px;
                color: goldenrod;
                position: absolute;
                padding-left: 5px;
                /* right: 0; */
                bottom: 53%;
                /* left: 235px; */
                width: 100px;
                text-align: start;
                /* padding-top: 50%; */
                /* padding-bottom: 50%; */

                @media (min-width: 768px) {
                    font-size: 16px;
                    width: 110px;
                }
            }
        }

        .resultContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-height: 50vh;
            margin-top: auto;
            margin-bottom: auto;

            .waviy {
                font-size: 37px;
            }

            .waviy span {
                // font-family: "Alfa Slab One", cursive;
                position: relative;
                display: inline-block;
                color: #fff;
                // text-transform: uppercase;
                animation: waviy 1s infinite;
                animation-delay: calc(0.08s * var(--i));
            }
            @keyframes waviy {
                0%,
                40%,
                100% {
                    transform: translateY(0);
                }
                20% {
                    transform: translateY(-10px);
                }
            }
        }

        .testBackButton {
            background-color: #404040;
            color: white;
            border-radius: 15px;
            border: none;
            padding: 6px 15px;
            margin-top: 20px;
            max-width: 200px;
        }

        h2,
        h3 {
            margin: 0;
        }

        h3 {
            // @media (min-width: 768px) {
            //     margin: 10px 0;
            // }
        }

        .problemCounter {
            font-size: 0.8rem;
        }

        .upArrow {
            font-size: 1.3rem;
            color: #20496b;
        }

        .testTitle {
            // display: grid;
            // grid-template-columns: 20% 5% 50% 5% 25%;
            justify-content: center;
            align-items: center;
            // grid-template-areas: ". feedback nextButton";
            font-size: 12px;
            width: 90vw;

            p {
                margin: 0;
            }

            // p {
            //     &:first-child {
            //         text-align: end;
            //     }

            //     &:last-child {
            //         text-align: start;
            //     }
            // }

            &:nth-child(1) {
            }

            @media (min-width: 768px) {
                font-size: 24px;
                width: 70vw;
            }
        }

        .dragAndDrop {
            // width: 100vw;
            p {
                font-size: 0.8rem;
                margin: 0;
            }
        }

        .dropContainer {
            .dragHereText {
                position: absolute;
                color: #31628a;
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 0.9rem;
                padding-top: 6px;

                animation-name: shine;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;

                @keyframes shine {
                    10%,
                    60%,
                    100% {
                        // opacity: 0.5;
                        color: #31628a;
                    }
                    80% {
                        // opacity: 1;
                        color: #79a6ca;
                    }
                }
            }
        }

        .answerDropContainers {
            margin: 0 5px;
            margin-bottom: 7px;
            .optionsParent {
                border-bottom: 1px solid white;
            }
        }

        .optionsDropContainers {
            background-color: #20496b;
            margin: 7px 0;
            border-radius: 15px;
            padding: 5px 0;

            .optionsParent {
                justify-content: center;
            }
        }

        .optionsParent {
            padding: 4px 0;
            box-sizing: content-box;
            min-height: 30px;
            min-width: 100%;
            display: flex;
        }

        .feedbackSection {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-areas: ". feedback nextButton";
            width: 100%;
            margin: 30px 0;
            visibility: hidden;
            // background-color: #20496b;

            @media (min-width: 768px) {
                width: 60%;
            }

            &.show {
                visibility: visible;
            }

            .feedbackText {
                grid-area: feedback;
                text-align: center;
                font-size: 2rem;
                font-family: "Gidugu";

                &.correct {
                    color: $victory-green;
                }

                &.incorrect {
                    color: $loser-red;
                }
            }

            .feedbackButton {
                grid-area: nextButton;
                border-radius: 34px;
                background-color: #164b78;
                color: white;
                border: none;
            }
        }

        .testContent {
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;

            .dragAnswer {
                min-height: 60px;

                svg {
                    color: red;
                    font-size: 48px;
                }

                @media (min-width: 768px) {
                    min-height: 90px;
                }
            }

            .dragAnswerButton {
                position: relative;
                border-radius: 4px;
                text-transform: uppercase;
                outline: 0;
                overflow: hidden;
                background: none;
                background-color: #6c7a93;
                color: #ffffff;
                z-index: 1;
                cursor: pointer;
                transition: 0.08s ease-in;
                -o-transition: 0.08s ease-in;
                -ms-transition: 0.08s ease-in;
                -moz-transition: 0.08s ease-in;
                -webkit-transition: 0.08s ease-in;

                // background-color: #287700;
                border-radius: 10px;
                border: none;
                // color: white;
                text-transform: uppercase;
                margin-top: 20px;
                padding: 15px 0;
                width: 70%;

                &:disabled {
                    background-color: #444444;
                    text-decoration: line-through;
                    width: 40%;
                }
            }

            p {
                margin: 0;
                font-size: 0.85rem;
                color: #b5b5b5;
            }

            @media (min-width: 768px) {
                width: 769px;
            }

            .testPhrase {
                display: flex;
                align-items: center;
                justify-content: center;
                // margin-left: auto;
                // margin-right: auto;
                height: 15vh;
                // max-width: 70vw;
                background-color: #7d0707;
                margin: 3px auto;
                p {
                    font-size: clamp(1rem, 1rem + 0.8vw, 2rem);
                    text-align: center;
                    margin: 0;
                    color: white;
                }

                @media (min-width: 768px) {
                    // height: 20vh;
                    background-color: #4a7da8;
                    border-radius: 23px;
                }
            }

            .testDivider {
                background-color: $cloud-white;
                height: 1px;
                width: 95%;
                margin: 15px auto;
            }

            .mondaiOptions {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .testOptionButton {
                    color: $cloud-white;
                    background-color: #001e37;
                    border: none;
                    margin: 3px 0;
                    padding: 12px 0;

                    &:hover {
                        background-color: #20496b;
                    }

                    &:disabled {
                        color: #858585;
                        background-color: #4f4f4f;
                    }

                    &.correct {
                        color: $cloud-white;
                        background-color: $victory-green;
                    }

                    &.incorrect {
                        color: $cloud-white;
                        background-color: $loser-red;
                    }
                }
            }

            .answersBox {
                height: 200px;
                background-color: #20496b;
            }

            .draggable {
                height: 100px;
            }
        }
    }

    .userPanel {
        color: white;
        display: flex;
        flex-direction: column;

        align-items: center;
        // height: 70vh;
        width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        h3 {
            text-decoration: underline;
            text-decoration-color: goldenrod;
        }

        .userPanelContent {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            gap: 30px;

            @media (min-width: 768px) {
                flex-direction: row;
                width: 100%;
                max-width: 1024px;
                padding: 0 15px;
            }

            p {
                text-align: center;
            }

            .stickersDiv {
                width: 100%;

                .allStickers {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    flex-wrap: wrap;
                    height: 130px;
                    background-color: #164b78;
                    padding: 15px 5px;
                    box-shadow: inset 0 8px 6px -6px #040329;
                    overflow-x: scroll;

                    @media (min-width: 768px) {
                        height: auto;
                        flex-direction: row;
                        width: 325px;
                        border-radius: 22px;
                        margin: auto;
                        overflow-x: hidden;
                        overflow-y: scroll;
                    }

                    .sticker {
                        height: 100px;
                        width: 100px;

                        img {
                            width: 100%;
                        }
                    }

                    .selected {
                        filter: sepia(1);
                    }
                }
            }

            .infoDiv {
                display: flex;
                flex-direction: column;
                width: 100%;

                .infoText {
                    min-height: 225px;
                    padding: 5px;
                }

                .title {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
    }

    @media (min-width: 768px) {
        margin-top: 80px;
    }
}

.forms {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 50px 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 130px;
    color: $cloud-white;

    @media (min-width: 768px) {
        height: 100px;
        flex-direction: row;
        padding-right: 20px;
        align-items: center;

        :first-child {
            margin-left: auto;
        }
    }
}
