hr {
  border-top: 1px solid red;
}

.App {
  margin: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .save {
  padding-left: 5px;
  margin-right: auto;
}
.header .not-logged {
  color: red;
}

.main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .form form {
  display: flex;
  flex-direction: column;
}
.main .content {
  display: flex;
}
.main .lectureButton {
  display: flex;
  background-color: antiquewhite;
  height: 50px;
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.main .lectureButton:hover {
  background-color: rgb(245, 215, 176);
}
.main .lectureButton:active {
  background-color: rgb(243, 187, 149);
}
.main .lectureScreen .lectureTitle {
  text-align: center;
}
.main .lectureScreen .lectureScreenButtons {
  display: flex;
}
.main .lectureScreen .lectureScreenButtons .backButton {
  margin-left: auto;
}
.main .lectureScreen .termList .termItem {
  display: flex;
  background-color: burlywood;
  margin: 10px 0;
}
.main .lectureScreen .termList .termItem .verticalRule {
  border-left: 1px solid black;
  background-color: aqua;
  height: 20px;
  position: absolute;
  left: 50%;
}
.main .lectureScreen .termList .termItem .answer {
  text-align: end;
}
.main .lectureScreen .termList .termItem div {
  flex: 1;
  align-self: center !important;
}
.main .learnScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .learnScreen .termCardSection {
  display: flex;
}
.main .learnScreen .termCardSection button {
  margin: 40px 0;
}
.main .learnScreen .termCardSection button:hover {
  background-color: brown;
}
.main .learnScreen .termCard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
  background-color: blanchedalmond;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.main .learnScreen .termCard div {
  display: grid;
}
.main .learnScreen .termCard .term,
.main .learnScreen .termCard .answerSection {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  flex: 1;
  text-align: center;
}
.main .learnScreen .termCard .term span,
.main .learnScreen .termCard .answerSection span {
  align-self: center;
}
.main .learnScreen .termCard .answerSection {
  flex: 1;
  background-color: bisque;
}
.main .learnScreen .learnButtons button {
  border: none;
  margin: 0 25px;
  padding: 20px 40px;
}
.main .learnScreen .learnButtons .learningButton {
  background-color: rgb(225, 183, 167);
}
.main .learnScreen .learnButtons .learningButton:hover {
  background-color: rgb(216, 142, 113);
}
.main .learnScreen .learnButtons .learnedButton {
  background-color: rgb(200, 233, 173);
}
.main .learnScreen .learnButtons .learnedButton:hover {
  background-color: rgb(137, 199, 87);
}

.forms {
  display: flex;
  justify-content: space-around;
  padding: 0 50px 50px 50px;
}/*# sourceMappingURL=App.css.map */