.ReviewV2Screen {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        width: 80%;
    }

    .learnScreenTitle {
        text-align: center;
        color: #f5fcff;
        font-family: "Noto Serif";
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #dbb01c;
        margin: 0px;
    }

    .reviewScreenPanel {
        width: 100%;
        margin: 2px 0;

        p {
            text-align: center;
            align-self: center;
            justify-self: center;
            color: white;
            margin: 0;
            font-size: clamp(0.5rem, 0.5rem + 3.5vw, 2rem);
            font-family: "Gidugu";
        }

        @media (min-width: 768px) {
            max-width: 935px;
        }
    }

    .controls {
        z-index: 1;
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas:
            "buttons"
            "info"
            "nextButton";
        justify-content: center;
        // width: 100%;
        width: 100vw;

        p {
            text-align: center;
            margin: auto;
        }

        .termOptions {
            svg {
                filter: drop-shadow(2px 4px rgb(0 0 0 / 0.4));
            }

            button {
                @media (min-width: 768px) {
                    width: 62px;
                }
            }
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            width: 62vw;
            max-width: 935px;
        }

        .next {
            min-width: 200px;
            min-height: 82px;
            padding: 10px 40px;
            // margin-right: 20px;
            border-radius: 15px;
            border: 2px solid #ab071d;
            background-color: #f5fcff;
            color: #66121d;
            display: flex;
            align-items: center;
            justify-content: center;
            // align-content: end;
            // justify-content: end;
            font-family: "Noto_Serif";
            font-size: 1.2rem;

            .spinner-border {
                color: #2b07ab;
            }

            @media (min-width: 768px) {
                margin-left: auto;
                // margin-right: 40px;
            }
        }

        .thinking {
            border: 2px solid #2b07ab;
            color: #2b07ab;
        }

        .continue {
            // background-color: #449754;
            border-color: #156324;
            color: #156324;
            &:hover {
                background-color: #449754;
                color: white;
                border-color: #1dcb3f;
            }
        }

        .close {
            &:hover {
                background-color: #ab071d;
                color: white;
            }
        }
    }

    .termCard {
        background-color: #4f4d63;
        color: white;

        .divider {
            background-color: #b9b9b9;
        }
    }

    .gold {
        border: 5px solid #ffbc00;
        .divider {
            background-color: #ffbc00;
        }
    }

    .muted {
        border: 5px solid #7a059f;
        background-color: #333333 !important;
        color: #c1c1c1 !important;
        .divider {
            background-color: #9b00cd;
        }
    }

    //border: 5px solid #ffbc00;
    //filter: drop-shadow(1px 3px rgb(0 0 0 / 0.4));
}
